<ng-container *ngIf="currentUser && purchaseRequests">
  <div class="container max-height-700 min-height-400 pb-3">
    <div class="row justify-content-start mb-2">
        <div class="col-auto text-center">
          <span (click)="setPurchaseRequestDataSource('allActive'); onPurchaseRequestTabItemClick('allActive')" class="tab-item toggled" id="purchaseRequestTab_allActive">All Active</span>
        </div>
        <div class="col-auto text-center">
          <span (click)="setPurchaseRequestDataSource('pending'); onPurchaseRequestTabItemClick('pending')" class="tab-item" id="purchaseRequestTab_pending">Pending</span>
        </div>
        <div class="col-auto text-center">
          <span (click)="setPurchaseRequestDataSource('readyForPickup'); onPurchaseRequestTabItemClick('readyForPickup')" class="tab-item" id="purchaseRequestTab_readyForPickup">Ready for Pickup</span>
        </div>
        <div class="col-auto text-center">
          <span (click)="setPurchaseRequestDataSource('pickedUp'); onPurchaseRequestTabItemClick('pickedUp')" class="tab-item" id="purchaseRequestTab_pickedUp">Picked Up</span>
        </div>
        <div class="col-auto text-center">
          <span (click)="setPurchaseRequestDataSource('archived'); onPurchaseRequestTabItemClick('archived')" class="tab-item" id="purchaseRequestTab_archived">Archived</span>
        </div>



    </div>
    <div class="row">


      <perfect-scrollbar class="scroll-container perfect-scrollbar-dark" fxFlex="auto" [config]="config" [scrollIndicators]="true">
        <ng-container *ngIf="purchaseRequests && currentUser; else noPurchaseRequests">
          <div class="row mx-0 px-3 ">

            <ng-container *ngFor="let purchaseRequest of dataSource.slice(0, showLimit); let i = index">
              <div class="col-12 request-list request-container">

                <div class="row">
                  <div class="col-5 text-left store-item-img-col">
                    <ng-container *ngIf="storeItemQuery.getStoreItemById(purchaseRequest.storeItemId); else storeItemImageLoading">
                      <img [src]="storeItemQuery.getStoreItemById(purchaseRequest.storeItemId).imageResolvedUrl"
                           alt="Store Item Image"
                           class="img-center img-fluid store-item-img"
                           id="store-item-image">
                    </ng-container>

                    <ng-template #storeItemImageLoading >
                      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                           alt="Loading..."
                           class="img-center img-fluid rounded-circle"
                           id="storeItemImagePlaceholder">
                    </ng-template>

                  </div>
                  <div class="col-7 text-left margin-top-10">
                    <div class="col-12">
                      <div class="form-row">
                        <div class="col-12">
                          <div class="form-row">
                            <div class="col-10">
                              <h4 class="point-content font-weight-bold">{{purchaseRequest.storeItemName}}</h4>
                            </div>
                            <div class="col-2">
                              <h4 class="point-content">{{purchaseRequest.storeItemCost}}pts</h4>
                            </div>

                          </div>
                          <div class="form-row">
                            <div class="col-12">
                              <h4 class="point-content italics">{{purchaseRequest.storeItemDescription}}</h4>
                            </div>

                          </div>
                          <!--                  <div class="form-row">
                                              <h4 class="point-content">Cost: {{purchaseRequest.storeItemCost}}pts</h4>
                                            </div>-->
                        </div>
                      </div>
                      <!--              <div class="form-row">
                                      <h5 class="point-content">Request Date: {{(purchaseRequest.createdAt) | date:'longDate'}}</h5>
                                    </div>-->
                      <div class="form-row margin-top-10">
                        <div class="col-12">
                          <h5 class="point-content">Request submitted to <a href="javascript:void(0)" (click)="onUserClick(purchaseRequest.managerId)">{{userQuery.getUserByUserId(purchaseRequest.managerId).firstName}} {{userQuery.getUserByUserId(purchaseRequest.managerId).lastName}}</a></h5>

                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-12">
                          <h5 class="point-content">Request date: {{purchaseRequest.createdAt | date:'longDate'}}</h5>

                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-12">
                          <div *ngIf="purchaseRequest.status === 'pending'">
                            <h5 class="point-content">Request status: <span class="color-yellow font-weight-bold">PENDING</span></h5>
                          </div>
                          <div *ngIf="purchaseRequest.status === 'readyForPickup'">
                            <h5 class="point-content">Updated on: {{purchaseRequest.readyForPickupAt | date:'longDate'}}</h5>
                            <h5 class="point-content">Request status: <span class="color-green font-weight-bold">READY FOR PICKUP!</span></h5>
                          </div>
                          <div *ngIf="purchaseRequest.status === 'pickedUp'">
                            <h5 class="point-content">Updated on: {{purchaseRequest.pickedUpAt | date:'longDate'}}</h5>
                            <h5 class="point-content">Request status: <span class="text-primary font-weight-bold">PICKED UP</span></h5>
                          </div>
                        </div>

                      </div>
                      <ng-container *ngIf="purchaseRequest.status === 'readyForPickup'">
                        <div class="form-row mt-3">
                          <div class="col-12">
                            <h5>Already received your item? Click the button below!</h5>
                            <button type="button" class="btn btn-primary" (click)="onPickedUpClick(purchaseRequest)">Picked Up!</button>
                          </div>
                        </div>
                      </ng-container>

                    </div>
                  </div>

                </div>
              </div>
            </ng-container>

          </div>



        </ng-container>
      </perfect-scrollbar>
    </div>

    <div class="row pt-2 text-center">
      <div class="col-12 text-center mx-auto">
        <ng-container *ngIf="dataSource?.length > 0; else noRequestsToDisplay">
          <ng-container *ngIf="dataSource.length >= showLimit; else noMore" >
            <div>
              Displaying {{showLimit}} out of {{dataSource.length}} purchase requests. <a href="javascript:void(0)" (click)="showLimit = showLimit + 6">Show more...</a>
            </div>
          </ng-container>
          <ng-template #noMore>
            <div>
              Displaying all {{dataSource.length}} purchase requests.
            </div>
          </ng-template>
        </ng-container>
        <ng-template #noRequestsToDisplay>
          <div>
            No purchase requests to display.
          </div>
        </ng-template>
        <ng-template #noPurchaseRequests>
          <div>
            No purchase requests yet...
          </div>
        </ng-template>
      </div>

    </div>



  </div>
</ng-container>

