
.chart-row {
  margin-top: -55px;
  height: 150px
}

.progress-card-header {
  min-height: 165px;
}

.card-coin {
  border: 0;
  min-height: 600px;
}

div.card.card-coin.card-plain.card-custom {
  background-color: #674ba580;
}

div.card {
  background-color: rgba(167,53,43,0)
}

@media (max-width: 575.98px) {
  .card.card-coin {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .card {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .card.card-coin {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .card {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 991px) {
  .card.card-coin {
    margin-bottom: 0px;
  }
}

.glow {
  font-size: 16px;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  text-align: center;
  //-webkit-animation: glow 1s ease-in-out infinite alternate;
  //-moz-animation: glow 1s ease-in-out infinite alternate;
  //animation: glow 1s ease-in-out infinite alternate;
}

/*@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}*/

ul.nobullets {
  list-style-type: none;
}

/*li:hover {
  background-color: rgba(0, 0, 0, 0.11);
}*/

li.achievlist:hover {
  background-color: rgba(0, 0, 0, 0.11);
}

/*
.achievlist {
  li:hover {
    background-color: rgba(0, 0, 0, 0.11);
  }
}
*/

// Makes the modal show up closer to the middle of the screen
.modal.show .modal-dialog {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.positionrelative{
  position: relative;
}

.zeromargin{
  margin: 0;
  padding: 0;
}

.achievementstatus{
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

.paddingleft{
  padding-left: 15px;
  padding-right: 15px;
}
