


<!--navbar-->

<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <a class="navbar-brand" >The Asbury Admin Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">




        <!--      icon for logout-->
      </ul>
      <span class="navbar-text">

<!--       <i class="tim-icons icon-button-power" data-toggle="tooltip" data-placement="bottom" title="Log out" href="#" data-dismiss="m" type="button" (click)="onLogout()"></i>-->


        <!-- <button type="button" class="btn btn-icon btn-round" color="white" >
           <i class="tim-icons icon-button-power" title="logout"></i>
         </button> -->


        <div class="dropdown">
          <button class="btn btn-icon btn-round" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="tim-icons icon-button-power" title="logout"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

      </span>
    </div>
  </div>
</nav>

<br><br><br><br>

<!--cards-->
<!--card1-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header2">
          <img alt="Bootstap Image Preview" width="175" height="175" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXx8hZf4F_P5gYeojzE7yOicnY7E-fwa3UALUYcwQP529XSZxc8Q" class="rounded-circle"/>
        </h5>
        <div class="card-body">
          <H1 class="card-text3">
            Users
          </H1>
        </div>
        <div class="card-footer3" style="margin-bottom: 20px">
          <!-- Button trigger modal -->

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModel">Add User</button>
          <!-- Large modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">ADD Images/Files</button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editUserModal">Edit User</button>

          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <input type="file"
                       name="my file" multiple>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade bd-example-modal-lg" id="addUserModel" tabindex="-1" role="dialog"
               aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Fill in your information </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>


                <div class="modal-body">
                  <!--       form-->


                  <form>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputitems_id">User Name</label>
                        <input type="Anisha" class="form-control" id="inputEmail4" placeholder="First Name">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputitems_name">First Name</label>
                        <input type="Anisha" class="form-control" id="inputitem_name" placeholder="Last Name">
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="inputitems_Description">Address1</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="Address 1">
                    </div>
                    <div class="form-group">
                      <label for="inputAddress2">Address 2</label>
                      <input type="text" class="form-control" id="inputAddress2" placeholder="Address2">
                    </div>
                    <div class="form-group">
                      <label for ="inputcity">city</label>
                      <input type="text" class="form-control" id="city" placeholder="city">
                    </div>
                    <div class="form-group">
                      <label for ="inputcity">state</label>
                      <input type="text" class="form-control" id="state" placeholder="state">
                    </div>

                    <div class="form-group">
                      <label for ="inputcity">Country</label>
                      <input type="text" class="form-control" id="Country" placeholder="Country">
                    </div>
                    <div class="form-group">
                      <label for ="inputcity">zip</label>
                      <input type="text" class="form-control" id="Zip" placeholder="Zip">
                    </div>
                    <div class="form-group">
                      <label for ="date of birth">date of birth</label>
                      <input type="text" class="form-control" id="date of birth" placeholder="date of birth">
                    </div>
                    <form>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Email</label>
                          <input type="email" class="form-control" id="inputEmail4" placeholder="date of hire">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Password</label>
                          <input type="password" class="form-control" id="inputPassword4" placeholder="start date">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Sex/Gender">
                      </div>
                      <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Phone number">
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="phone number">City</label>
                          <input type="text" class="form-control" id="phone number">
                        </div>

                      </div>
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck">
                          <label class="form-check-label" for="gridCheck">
                            Check me out
                          </label>
                        </div>
                      </div>

                    </form>


                  </form>



                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Edit User Modal -->
          <div class="modal fade bd-example-modal-lg" id="editUserModal" tabindex="-1" role="dialog"
               aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editUserModalLabel">Fill in your information </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>


                <div class="modal-body">
                  <!--       form-->


                  <form [formGroup]="selectUserForm">
                    <div class="form-group">
                      <label for="editUserUsername">Username</label>
                      <select formControlName="editUserUsername"
                              class="form-control"
                              id="editUserUsername" name="editUserUsername">
                        <option *ngFor="let user of (userQuery.selectAll() | async)" [ngValue]="user">
                          {{user.username}}
                        </option>
                      </select>
                    </div>
                  </form>
                  <form [formGroup]="editUserForm" class="form" (ngSubmit)="onEditUserFormSubmit(editUserForm)">
                    <div class="form-group">
                      <label for="editUserFirstName">First Name</label>
                      <input class="form-control" id="editUserFirstName" placeholder="First Name" formControlName="editUserFirstName">
                    </div>
                    <div class="form-group">
                      <label for="editUserLastName">Last Name</label>
                      <input class="form-control" id="editUserLastName" placeholder="Last Name" formControlName="editUserLastName">
                    </div>
                    <div class="form-group">
                      <label for="editUserAddress1">Address 1</label>
                      <input type="text" class="form-control" id="editUserAddress1" placeholder="Address 1" formControlName="editUserAddress1">
                    </div>
                    <div class="form-group">
                      <label for="editUserAddress2">Address 2</label>
                      <input type="text" class="form-control" id="editUserAddress2" placeholder="Address 2" formControlName="editUserAddress2">
                    </div>
                    <div class="form-group">
                      <label for="editUserCity">City</label>
                      <input type="text" class="form-control" id="editUserCity" placeholder="City" formControlName="editUserCity">
                    </div>
                    <div class="form-group">
                      <label for ="editUserState">State</label>
                      <input type="text" class="form-control" id="editUserState" placeholder="State" formControlName="editUserState">
                    </div>
                    <div class="form-group">
                      <label for ="editUserCountry">Country</label>
                      <input type="text" class="form-control" id="editUserCountry" placeholder="Country" formControlName="editUserCountry">
                    </div>
                    <div class="form-group">
                      <label for ="editUserZip">Zip</label>
                      <input type="text" class="form-control" id="editUserZip" placeholder="Zip" formControlName="editUserZip">
                    </div>
                    <div class="form-group">
                      <label for ="editUserBirthdate">Date of Birth</label>
                      <input type="text" class="form-control" id="editUserBirthdate" placeholder="Date of Birth" formControlName="editUserBirthdate">
                    </div>
                    <div class="form-group">
                      <label for="editUserEmail">Email</label>
                      <input type="email" class="form-control" id="editUserEmail" placeholder="Email" formControlName="editUserEmail">
                    </div>
                    <div class="form-group">
                      <label for="editUserPhone">Email</label>
                      <input type="phone" class="form-control" id="editUserPhone" placeholder="Phone" formControlName="editUserPhone">
                    </div>
                  </form>



                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          <!-- END Edit User Modal -->
        </div>
      </div>
    </div>


























    <!--card2-->



    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header2">
          <img alt="Bootstrap Image Preview" width="165" height="165" src="../../../assets/img/point.png" class="rounded-circle" />
        </h5>
        <div class="card-body">

          <H1 class="card-text2">
            POINT
          </H1>

        </div>
        <div class="card-footer2">

          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addPointModel">Add Points</button>

          <!-- Modal -->
          <div class="modal fade bd-example-modal-lg" id="addPointModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Point </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>


                <div class="modal-body">
                  <!--       form-->


                  <form>
                    <div class="form-row">
                      <div class="form-group col-md-6" >
                        <label for="inputPoint_Name" class="l2">Point Name </label>
                        <input type="text" class="form-control"  id="inputitem_name" placeholder="Item Name">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputpoint_Point_amount"class="l2">point amount</label>
                        <input type="text" class="form-control"  id="input_point_amount" placeholder="point amount">
                      </div>
                    </div>
                    <div class="form-group" style="text-align: left">
                      <label for="inputitems_Description" class="l2">Description</label>
                      <input type="text" class="form-control"  id="inputDescription" placeholder="Description">
                    </div>



                  </form>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>



          <!-- Button trigger modal -->
          <!--
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add Point</button>

           Modal
          <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Point</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          -->

          <br><br>
          <button class="btn btn-primary btn-lg">Edit Point</button>

          <br><br>
          <button class="btn btn-primary btn-lg">Delete Point</button>
        </div>
      </div>
    </div>






    <!--card3-->



    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header3">
          <img alt="Bootstrap Image Preview" width="165" height="165" src="https://cdn4.iconfinder.com/data/icons/e-commerce-and-shopping-3/500/cart-checked-512.png" class="rounded-circle" />
        </h5>
        <div class="card-body">
          <H1 class="card-text3">
            STORE ITEMS
          </H1>
        </div>
        <div class="card-footer3">

          <!-- Button trigger modal -->

          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addItemModel">Add Items</button>

          <!-- Modal -->
          <div class="modal fade bd-example-modal-lg" id="addItemModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Items </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>


                <div class="modal-body">
                  <!--       form-->


                  <form>
                    <div class="form-row">
                      <div class="form-group col-md-6" >
                        <label for="inputitems_Name" class="l1">Item Name </label>
                        <input type="text" class="form-control" id="inputitem_name" placeholder="Item Name">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputitems_Point_amount"class="l1">point amount</label>
                        <input type="text" class="form-control" id="input_point_amount" placeholder="point amount">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputitems_Description"class="l1">Description</label>
                      <input type="text" class="form-control" id="inputDescription" placeholder="Description">
                    </div>
                    <!--
                      <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                      </div>
                    -->


                    <div class="form-group">
                      <label for="inputUploadImg">Upload Img </label>
                      <input type="file" name="img[]" class="file">
                      <div class="input-group col-xs-12">
                        <span class="input-group-addon"><i class="icon-image-02" ></i></span>
                        <input type="text" class="form-control input-lg" disabled placeholder="Upload Image">
                        <span class="input-group-btn">
        <button class="browse btn btn-primary input-lg" type="button" onclick=""><i class="glyphicon glyphicon-search" ></i> Browse</button>
      </span>
                      </div>
                    </div>
                  </form>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>



          <br><br>
          <button type="button" class="btn btn-primary btn-lg"[routerLink]="['/', 'user', 'store']">Edit Items</button>

          <br><br>
          <button type="button" class="btn btn-primary btn-lg"[routerLink]="['/', 'user', 'store']">Dlete Items</button>





        </div>

      </div>

    </div>
  </div>


</div>

















































<!--

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<h5 class="card-header">
					<h1>user</h1>
				</h5>
				<div class="card-body">
					<p class="card-text">
						Card content
					</p>
				</div>
				<div class="card-footer">
					Card footer
				</div>
			</div>
		</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h1>
				USER
			</h1><img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle" />
		</div>
		<div class="col-md-4">
			<h1>
				POINT
			</h1><img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle" />
		</div>
		<div class="col-md-4">
			<h1>
				STORE
			</h1><img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>
-->









<!--user-->
<!--
<nav class="navbar navbar-expand-lg bg-info">
  <div class="container">
-->
<!--    <a class="navbar-brand" href="#"> <h1 class="display-4">USER</h1></a>-->
<!--
    <a class="navbar-brand" > <h1 class="display-4"><p class="h1">USER</p></h1></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-bar navbar-kebab"></span>
    <span class="navbar-toggler-bar navbar-kebab"></span>
    <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Add User <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Modify User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Delete User</a>
        </li>
-->
<!--
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
-->
<!--
      </ul>
    </div>
  </div>
</nav>


<br><br><br>
-->



<!--point-->

<!--
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
-->
<!--    <a class="navbar-brand" href="#"> <h1 class="display-4">USER</h1></a>-->
<!--
    <a class="navbar-brand" > <h1 class="display-4"><p class="h1">POINT</p></h1></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-bar navbar-kebab"></span>
    <span class="navbar-toggler-bar navbar-kebab"></span>
    <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Add Point <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Modify Point</a>
        </li>
        <li class="nav-item">
-->
<!--
          <a class="nav-link" href="#">Delete point</a>
        </li>
-->
<!--
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
-->
<!--
      </ul>
    </div>
  </div>
</nav>
-->

<!--
<div class="header">
  <div id="header-text">
    <h3 mat-subheader> <br> <h1>The Asbury Hotel Admin Dashboard</h1></h3>
  </div>

</div>
-->
<!--

<div id="user-profile-container">
  <mat-divider></mat-divider>
  <div id="profile-card-container">
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{globals.localStorageItem('firstName')}} {{globals.localStorageItem('lastName')}}</mat-card-title>
        <mat-card-subtitle>{{globals.localStorageItem('email')}}</mat-card-subtitle>
      </mat-card-header>
      <mat-list>
        <mat-list-item>
          <h4 mat-line>Department</h4>
          <p mat-line> {{globals.localStorageItem('departmentName')}}</p>
        </mat-list-item>
        <mat-list-item>
          <h4 mat-line>Points</h4>
          <p mat-line> {{globals.localStorageItem('points')}}</p>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
  <div id="achievement-container">
    <app-achievement></app-achievement>
  </div>
  <div id="register-user-container">
    <app-register-user></app-register-user>
  </div>
</div>
-->






