
 
<!--navbar-->
 
 <nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <a class="navbar-brand" >The Asbury Admin Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-bar navbar-kebab"></span>
    <span class="navbar-toggler-bar navbar-kebab"></span>
    <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
      
<!--      icon for logout-->
      </ul>
      <span class="navbar-text">
   
       <i class="tim-icons icon-button-power" data-toggle="tooltip" data-placement="bottom" title="Log out" href="#"></i>
      </span>
    </div>
  </div>
</nav>

<br><br><br><br>

<!--cards-->


<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<h5 class="card-header">
          <img src="..." alt="..." class="img-thumbnail">
          ​<picture>
            <source srcset="..." type="image/svg+xml">
            <img src="..." class="img-fluid img-thumbnail" alt="...">
            <figure class="figure">
              <img src="..." class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              <figcaption class="figure-caption">A caption for the above image.</figcaption>
            </figure>
          </picture>                    
				</h5>
				<div class="card-body">
					<p class="card-text">
						user
					</p>
				</div>
				<div class="card-footer">
					buttons
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<h5 class="card-header">
					Card title
				</h5>
				<div class="card-body">
					<p class="card-text">
						Card content
					</p>
				</div>
				<div class="card-footer">
					Card footer
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<h5 class="card-header">
					Card title
				</h5>
				<div class="card-body">
					<p class="card-text">
						Card content
					</p>
				</div>
				<div class="card-footer">
					Card footer
				</div>
			</div>
		</div>
	</div>
</div>

















































<!--

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<h5 class="card-header">
					<h1>user</h1>
				</h5>
				<div class="card-body">
					<p class="card-text">
						Card content
					</p>
				</div>
				<div class="card-footer">
					Card footer
				</div>
			</div>
		</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h1>
				USER
			</h1><img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle" />
		</div>
		<div class="col-md-4">
			<h1>
				POINT
			</h1><img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle" />
		</div>
		<div class="col-md-4">
			<h1>
				STORE
			</h1><img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>
-->









<!--user-->
<!--
<nav class="navbar navbar-expand-lg bg-info">
  <div class="container">
-->
<!--    <a class="navbar-brand" href="#"> <h1 class="display-4">USER</h1></a>-->
<!--
    <a class="navbar-brand" > <h1 class="display-4"><p class="h1">USER</p></h1></a>
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-bar navbar-kebab"></span>
    <span class="navbar-toggler-bar navbar-kebab"></span>
    <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Add User <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Modify User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Delete User</a>
        </li>
-->
<!--
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
-->
<!--
      </ul>
    </div>
  </div>
</nav>


<br><br><br>
-->



<!--point-->

<!--
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
-->
<!--    <a class="navbar-brand" href="#"> <h1 class="display-4">USER</h1></a>-->
<!--
    <a class="navbar-brand" > <h1 class="display-4"><p class="h1">POINT</p></h1></a>
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-bar navbar-kebab"></span>
    <span class="navbar-toggler-bar navbar-kebab"></span>
    <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Add Point <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Modify Point</a>
        </li>
        <li class="nav-item">
-->
<!--
          <a class="nav-link" href="#">Delete point</a>
        </li>
-->
<!--
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
-->
<!--
      </ul>
    </div>
  </div>
</nav>
-->

<!--
<div class="header">
  <div id="header-text">
    <h3 mat-subheader> <br> <h1>The Asbury Hotel Admin Dashboard</h1></h3>
  </div>

</div>
-->
<!--

<div id="user-profile-container">
  <mat-divider></mat-divider>
  <div id="profile-card-container">
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{globals.localStorageItem('firstName')}} {{globals.localStorageItem('lastName')}}</mat-card-title>
        <mat-card-subtitle>{{globals.localStorageItem('email')}}</mat-card-subtitle>
      </mat-card-header>
      <mat-list>
        <mat-list-item>
          <h4 mat-line>Department</h4>
          <p mat-line> {{globals.localStorageItem('departmentName')}}</p>
        </mat-list-item>
        <mat-list-item>
          <h4 mat-line>Points</h4>
          <p mat-line> {{globals.localStorageItem('points')}}</p>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
  <div id="achievement-container">
    <app-achievement></app-achievement>
  </div>
  <div id="register-user-container">
    <app-register-user></app-register-user>
  </div>
</div>
-->






