.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

#user-profile {
  width:700px;
  clear: both;
}

#user-profile-card {
  width:700px;
  clear: both;
}

#profile-card {
  width: 300px;
  float: left;
  padding: 20px;
}

#achievement-card {
  width: 300px;
  float: right;
  padding: 20px;
}

.profile-card {
  background-color: coral;
}
