.mat-radio-label-content {
  color: black;
}

::ng-deep .mat-radio-label-content {
  color: black;
}

::ng-deep .mat-checkbox .mat-checkbox-label {
  color: black;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: black;
}

.mat-row:nth-child(even){
  background-color: #c0c1c2;
}

.mat-row:nth-child(odd){
  background-color: #d3d9e5;
}

.purchase-list-item:nth-child(even){
  background-color: #c0c1c2;
}

.purchase-list-item:nth-child(odd){
  background-color: #d3d9e5;
}


.mat-header-cell {
  text-align: center;
  padding-top: 20px
}

table{
  width: 100%;
}

.avatar-img {
  margin-top: auto;
  margin-bottom: auto;
  width: 45px !important;
}

.img-col {
  margin-top: auto;
  margin-bottom: auto;
}

.pending-style {
  color: #5603ad;
  font-weight: bold;
}

.approved-style {
  color: #2dce89;
  font-weight: bold;
}

.cancelled-style {
  color: #f21c19;
  font-weight: bold;
}

.fulfilled-style {
  color: #e14eca;
  font-style: italic;
  font-weight: bold;
}

/*mat-header-cell {*/
/*  text-align: center !important;*/
/*}*/

/*::ng-deep .mat-header-cell {
  text-align: center !important;
}*/


/*::ng-deep .mat-header-cell .mat-sort-header-container {
  text-align: center !important;
  justify-content: flex-end;
}*/


.mat-column-createdAt {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 14% !important;
  width: 14% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-userUsername {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-storeItemName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/*.mat-column-storeItemCost {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}*/

.mat-column-status {
  text-align: center;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 14% !important;
  width: 14% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 14% !important;
  width: 14% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.section-coins {
  margin-top: 0;
  padding: 0;
}

.section {
  margin-top: 0;
  padding: 0;
}

div.card.card-coin.card-plain.card-custom {
  background-color: #674ba580;
}

div.card {
  background-color: rgba(167,53,43,0);
  margin-bottom: 20px;
}

.card-coin {
  border: 0;
  min-height: 700px;
  overflow: auto;
}

.table-container {
  max-height: 500px;
  overflow: auto;
}

.purchase-request-row {
  margin-top: 100px
}

@media (max-width: 575.98px) {
  /*  .section-coins {
      margin-top: 100px !important;
    }*/
  .card.card-coin {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .card {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  /*  .section-coins {
      margin-top: 100px !important;
    }*/

  .card.card-coin {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .card {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 991px) {
  /*  .section-coins {
      margin-top: 100px;
    }*/
  .card.card-coin {
    /*margin-top: 0px;*/
    margin-bottom: 0px;
  }

  .card {
    margin-bottom: 20px;
  }
}

.tab-item {
  cursor: pointer;
  color: #b350f2
}

.tab-item:hover {
  color: #bd3db8;
  border-bottom-color: #b350f2;
  border-bottom-style: solid;
}

.toggled {
  border-bottom-color: #b350f2;
  border-bottom-style: solid;
}

.tab-row {
  margin-bottom: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

.scroll-container {
  height: 450px
}
