.mat-radio-label-content {
  color: black;
}

::ng-deep .mat-radio-label-content {
  color: black;
}

.mat-row:nth-child(even){
  background-color: #c0c1c2;
}

.mat-row:nth-child(odd){
  background-color: #d3d9e5;
}
