<div class="index-page" >

    <app-navigation></app-navigation>
    <div class="wrapper">
        <section class="section section-lg section-coins">

            <img src="../../../assets/img/path3.png" class="path">
            <div class="container align-items-center">

                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-10 ml-auto mr-auto" id="confirmRequest">
                        <div class="card">
                          <div class="card card-coin card-plain">
                            <div class="card-body">


                                <div class="row">
                                    <div class="col-md-12 text-center">
                                      <h2> Hello there!</h2>
                                      <h3> You have a prize redemption request.</h3>
                                    </div>
                                    <div class="col-lg-12" >Name:  </div>
                                    <div class="col-lg-12" >Department:  </div>
                                    <div class="col-lg-12" >Prize:  </div>
                                    <div class="col-lg-12" >Points:  </div>




                                </div>


                            </div>
                          </div>
                        </div>
                      </div>


                </div>




            </div>

        </section>
    </div>
</div>

