<div class="index-page" >

  <app-navigation></app-navigation>
  <div class="wrapper">
    <section class="section section-lg section-coins">

      <img src="../../../assets/img/path3.png" class="path">
      <div class="container align-items-center">

        <div class="row">
          <div class="col-lg-12 col-md-6 col-sm-10 ml-auto mr-auto" id="confirmRequest">
            <div class="card">
              <div class="card card-coin card-plain">
                <div class="card-body">


                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h3> Hello there!</h3>
                      <span> Confirm Purchase Request</span>
                    </div>
                  </div>

                  <div>
                    <mat-table  #requestTable [dataSource]="managerRequests$" matSort>
                      <ng-container matColumnDef="recordId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Request ID </mat-header-cell>
                        <mat-cell *matCellDef="let UserHasStoreItemModel">{{UserHasStoreItemModel.recordId}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="userUsername">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
                        <mat-cell *matCellDef="let UserHasStoreItemModel"> {{UserHasStoreItemModel.userUsername}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef=storeItemName>
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Item </mat-header-cell>
                        <mat-cell *matCellDef="let UserHasStoreItemModel"> {{UserHasStoreItemModel.storeItemName}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="storeItemCost">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Item Cost </mat-header-cell>
                        <mat-cell *matCellDef="let UserHasStoreItemModel"> {{UserHasStoreItemModel.storeItemCost}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                        <mat-cell *matCellDef="let UserHasStoreItemModel"> {{UserHasStoreItemModel.status}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="acceptRequest">
                        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                        <mat-cell *matCellDef="let UserHasStoreItemModel">
                          <mat-radio-group [ngModel]="approveOptions">
                          <mat-radio-button *ngFor="let approveOption of approveOptions" [checked]="approveOption.checked" (change)="$event ? approvalToggle(UserHasStoreItemModel, $event) : null" [(ngModel)]="approveOption" [value]="approveOption">
                          {{approveOption.name}}
                        </mat-radio-button>
                          </mat-radio-group>
                        </mat-cell>
                      </ng-container>

                      <!--                      <ng-container matColumnDef="declineRequest">
                                              <mat-header-cell *matHeaderCellDef> Decline </mat-header-cell>
                      &lt;!&ndash;                        <mat-cell *matCellDef="let UserHasStoreItemModel"> <mat-checkbox (change)="$event ? approvalToggle(UserHasStoreItemModel) : null" [(ngModel)]="UserHasStoreItemModel.declineRequest"></mat-checkbox> {{UserHasStoreItemModel.declineRequest}}</mat-cell>&ndash;&gt;
                                              <mat-cell *matCellDef="let UserHasStoreItemModel"> <mat-radio-button (change)="$event ? approvalToggle(UserHasStoreItemModel) : null" [(ngModel)]="UserHasStoreItemModel.declineRequest"></mat-radio-button> {{UserHasStoreItemModel.declineRequest}}</mat-cell>

                                            </ng-container>-->

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let UserHasStoreItemModel; columns: displayedColumns;"></mat-row>


                    </mat-table>


                    <div class="container">
                      <button type="button" class="btn btn-success" (click)="onSaveClick()" >Save</button>
                      <button type="button" class="btn btn-danger">Cancel</button>
                    </div>

                    <mat-paginator
                      [length] ="100"
                      [pageSize]= "10"
                      [pageSizeOptions] ="[5, 10, 25, 100]">
                    </mat-paginator>

                  </div>

                </div>
              </div>
            </div>
          </div>


        </div>




      </div>

    </section>

  </div>
</div>

