<div class="index-page" >

    <app-navigation></app-navigation>
    <div class="wrapper">
        <section class="section section-lg section-coins">

            <img src="../../../assets/img/path3.png" class="path">
            <div class="container align-items-center">

                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-10 ml-auto mr-auto" id="confirmRequest">
                        <div class="card">
                          <div class="card card-coin card-plain">
                            <div class="card-body">


                                <div class="row">
                                    <div class="col-md-12 text-center">
                                      <h3> Hello there!</h3>
                                      <span> Confirm Purchase Request</span>
                                    </div>
                                </div>

                              <div>
                                <mat-table   [dataSource]="managerRequests$">
                                  <ng-container matColumnDef="recordId">
                                    <mat-header-cell *matHeaderCellDef>Record ID</mat-header-cell>
                                    <mat-cell *matCellDef="let UserHasStoreItemModel">{{UserHasStoreItemModel.recordId}}</mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="userId">
                                    <mat-header-cell *matHeaderCellDef> UserID </mat-header-cell>
                                    <mat-cell *matCellDef="let UserHasStoreItemModel"> {{UserHasStoreItemModel.userId}}</mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef=storeItemName>
                                    <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
                                    <mat-cell *matCellDef="let UserHasStoreItemModel"> {{UserHasStoreItemModel.storeItemName}}</mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="storeItemCost">
                                    <mat-header-cell *matHeaderCellDef> Item Cost </mat-header-cell>
                                    <mat-cell *matCellDef="let UserHasStoreItemModel"> {{UserHasStoreItemModel.storeItemCost}}</mat-cell>
                                  </ng-container>

                                  <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                                    <mat-cell *matCellDef="let UserHasStoreItemModel"> {{UserHasStoreItemModel.status}}</mat-cell>
                                  </ng-container>

                                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


                                </mat-table>
                              </div>

                                <<!-- <div class="row">
                                  <div *ngFor="let request of (managerRequests$ | async)">
                                      RecordId {{request.recordId}}
                                      Requestor UserId {{request.userId}}
                                      ManagerId {{request.managerId}}
                                      Manager First Name {{request.managerFirstName}}
                                     Manager Last Name {{request.managerLastName}}
                                    Store Item Id {{request.storeItemId}}
                                      Store Item Name {{request.storeItemName}}
                                      Store Item Description {{request.storeItemDescription}}
                                      Store Item Cost {{request.storeItemCost}}
                                      Status {{request.status}}
                                      Cancel Description {{request.cancelDescription}} -->

<!--                                      <div class="container-text">{{request.managerId}} {{request.storeItemCost}}pts | {{request.storeItemName}}</div>-->




                              <<!-- <div class="container">
                                  <button type="button" class="btn btn-success">Accept</button>
                                  <button type="button" class="btn btn-danger">Decline</button>
                              </div> -->>



                          </div>
                          </div>
                        </div>
                      </div>


                </div>




            </div>

        </section>

    </div>
</div>
