.card-text2{
  text-align: center;
}
.card-header2{
  text-align: center;
}

.card-footer2{

  text-align: center;
}



.card-text3{
  text-align: center;
}
.card-header3{
  text-align: center;
}

.card-footer3{

  text-align: center;
}

.form-row{

  color: black;
}

/*

.btn{
	color: white;
}
*/

.file {
  visibility: hidden;
  position: absolute;
}

/*.editUser-modal {*/
/*  transform: translate(0, 0);*/
/*}*/

.modal.show .modal-dialog {
  transform: translate(0, 4em) !important;
}

@media (max-width: 575.98px) {
  .modal.show .modal-dialog {
    transform: translate(0, 0) !important;
  }
}

@media (max-width: 767.98px) {
  .modal.show .modal-dialog {
    transform: translate(0, 0) !important;
  }
}

@media screen and (max-width: 991px) {
  .modal.show .modal-dialog {
    transform: translate(0, 0) !important;
  }
}

.user-modal-body {
  overflow-scrolling: auto;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 600px
}

.user-form-container {
  margin-right: 20px;
}

.l1 {
  text-align: left;
  color:#32325d;

}

.l2 {
  text-align: left;
  color:#32325d;

}
.form-row {
  text-align: left;
}

.form-control {
  color: black;
}

.validation-message {
  color: #e14eca;
  font-size: 14px;
  font-weight: bold;
}

.form-label {
  color: black !important;
}

.user-form-control {
  margin-bottom: 5px !important;
}

.card label {
  text-align: left;
}

.marginbottom{
  margin-bottom: 20px;
}

.black{
  color: black;
}

perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-bottom) .ps-indicator-bottom {
  opacity: 1;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}


perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-top) .ps-indicator-top {
  opacity: 1;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}




#managePurchaseApproversModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-bottom) .ps-indicator-bottom {
  opacity: 1;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}

#managePurchaseApproversModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-top) .ps-indicator-top {
  opacity: 1;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}

#managePurchaseApproversModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar .ps.ps--scrolling-y > .ps__rail-y,
#managePurchaseApproversModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar .ps.ps--scrolling-x > .ps__rail-x {
  opacity: 0.9;

  background-color: #eee0 !important;
}

#managePurchaseApproversModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar .ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
  background-color: #eee0 !important;
  opacity: 0.9;
}

.purchase-manager-item {
  border-width: medium;
  border: rgba(0, 0, 0, 0);
  border-style: solid;
  border-radius: 5px;
  margin-left: 1em;
  background-color: aliceblue;
}


.trash-icon {
  cursor: pointer;
  font-size: 1em;
}

.trash-icon:hover {
  color: black;
}

.purchase-manager-item-footer {
  margin-top: -1em;
}

.seen-notification-item-footer {
  background-color: #f4f5f7;
}

.show-more {
  cursor: pointer;
}

.scroll-container {
  max-height: 500px;
}

.purchase-manager-scroll-container {
  max-height: 400px;
}

.delete-prompt {
  cursor: pointer;
}

.delete-prompt:hover {
  color: #ba1655 !important;
}

.font-disabled {
  text-decoration: line-through;
}

