<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  name="sign-in-onSubmit-spinner"
  [fullScreen]="true"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="row">
  <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
    <div id="square7" class="square square-7"></div>
    <div id="square8" class="square square-8"></div>
    <div class="card card-register">
      <div class="card-header">
        <img class="card-img" src="../assets/img/square1.png" alt="Card image">
        <h4 class="card-title">Login</h4>
      </div>
      <div class="card-body">

        <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)" class="form">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-single-02"></i>
              </div>
            </div>

            <input type="text"
                   name="username"
                   #username="ngModel"
                   [(ngModel)]="model.username"
                   placeholder="Username"
                   required
                   [ngClass]="{'invalid-textbox' :signInForm.submitted}"
                   minlength="3"
                   maxlength="50"
                   class="form-control">
          </div>
          <label class="validation-message" *ngIf="signInForm.submitted && username.errors?.minlength">The username must be at least 3 characters long.</label>

          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-lock-circle"></i>
              </div>
            </div>

            <input [type]="hide ? 'password' : 'text'"
                   name="password"
                   #password="ngModel"
                   [(ngModel)]="model.password"
                   placeholder="Password"
                   required
                   [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }"
                   minlength="8"
                   class="form-control">
          </div>
          <label class="validation-message" *ngIf="signInForm.submitted && password.errors?.minlength">The password must be at least 8 characters long.</label>

          <button type="submit" class="btn btn-info btn-round">Sign In</button>
          <button type="button" class="btn btn-info btn-round" routerLink="/signup">Register</button>
<!--          <button type="button" class="btn btn-info btn-round" (click)="test()">Test</button>-->

        </form>
        <div class="card-footer">
          <!--<a href="javascript:void(0)" class="btn btn-info btn-round btn-lg">Get Started</a>-->
          <p>Forgot your password? <a routerLink="/forgotPassword">Reset password</a></p>
        </div>

      </div>
    </div>
  </div>
</div>


