<div class="input-field">
  <i class="material-icons prefix">add_alarm</i>
  <input type="text" class="form-control" placeholder="Add Todo..." #input (keydown.enter)="add(input)">
</div>

<app-user-avatar-filters (update)="changeFilter($event)" [filters]="filters" [active]="activeFilter$ | async">
</app-user-avatar-filters>

<app-user-avatars [userAvatars]="userAvatars$ | async" (delete)="delete($event)" (complete)="complete($event)"></app-user-avatars>

<button (click)="getUserAvatar('mbado')">GetUserAvatar1</button>
<!--<button (click)="getSomething('mbado')">GetSomething1</button>-->
<button (click)="getUserAvatar('hulk')">GetUserAvatar2</button>
<!--<button (click)="getSomething('hulk')">GetSomething2</button>-->
<button (click)="showStore()">ShowStore</button>
<button (click)="getUserAvatars()">GetUserAvatars</button>
