<div class="card">
  <h5 class="card-header3">
    <img alt="Bootstrap Image Preview" width="165" height="165" src="../../../assets/img/cart-admin.png" class="rounded-circle" />
  </h5>
  <div class="card-body">
    <H1 class="card-text3">
      Manage Store Items
    </H1>
  </div>
  <div class="card-footer3 marginbottom">

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addStoreItemModal">Add Store Item</button>
    <br><br>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editStoreItemModal">Edit Store Item</button>

    <br><br>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#deleteStoreItemModal">Delete Store Item</button>
  </div>
</div>


<!-- Add Store Item -->
<div class="modal fade bd-example-modal-lg" id="addStoreItemModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStoreItemModalLabel">Add Store Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body storeItem-modal-body">
        <perfect-scrollbar class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="false">
          <div class="storeItem-form-container">
            <form [formGroup]="addStoreItemForm">
              <div class="form-row">
                <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6" >
                  <label for="addStoreItem_name">Store Item Name</label>
                  <input type="text" class="form-control storeItem-form-control" formControlName="name" id="addStoreItem_name" placeholder="Store Item Name">
                  <div *ngIf="(addStoreItemFormSubmitted && addStoreItemForm.controls.name.invalid) || (addStoreItemForm.dirty && addStoreItemForm.controls.name.touched && addStoreItemForm.controls.name.invalid)">
                    <label class="validation-message">This field is required.</label>
                  </div>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <label for="addStoreItem_cost">Store Item Cost</label>
                  <input type="text" class="form-control storeItem-form-control" formControlName="cost" id="addStoreItem_cost" placeholder="Store Item Cost">
                  <div *ngIf="(addStoreItemFormSubmitted && addStoreItemForm.controls.cost.invalid) || (addStoreItemForm.dirty && addStoreItemForm.controls.cost.touched && addStoreItemForm.controls.cost.invalid)">
                    <label class="validation-message">This field is required.</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-12">
                  <label for="addStoreItem_description">Description</label>
                  <input type="text" class="form-control storeItem-form-control" formControlName="description" id="addStoreItem_description" placeholder="Store Item Description">
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-12 text-center zeropadding">
                  <div class="form-group">
                    <div class="btn btn-primary">
                      <span>Select Store Item Image</span>
                      <input type="file" (change)="addItemFileChangeEvent($event)"
                             id="addStoreItem_image"
                             formControlName="image"
                             accept="image/*"
                             placeholder="Upload Store Item Image">
                    </div>
                  </div>
                  <div class="textc">
                    <div *ngIf="addStoreItemFormSubmitted && !addItemCroppedImage">
                      <label class="validation-message">Please select an image.</label>
                    </div>
                    <image-cropper
                      [imageChangedEvent]="addItemImageChangedEvent"
                      [resizeToWidth]="400"
                      autoCrop="false"
                      format="png"
                      outputType="both"
                      onlyScaleDown="true"
                      (imageCropped)="addItemImageCropped($event)"
                      (imageLoaded)="imageLoaded()"
                      (cropperReady)="cropperReady()"
                      (loadImageFailed)="loadImageFailed()"
                    ></image-cropper>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </perfect-scrollbar>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onAddStoreItemFormSubmit(addStoreItemForm)">Add Store Item</button>
      </div>
    </div>
  </div>
</div>


<!-- Edit Store Item -->
<div class="modal fade bd-example-modal-lg" id="editStoreItemModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit a Store Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body storeItem-modal-body">
        <perfect-scrollbar class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="false">
          <div class="storeItem-form-container">
            <form [formGroup]="editStoreItemForm">
              <div class="form-row">
                <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <label for="editStoreItem_storeItem" class="form-label">Store Item to Modify</label>
                  <select formControlName="storeItem"
                          class="form-control storeItem-form-control"
                          id="editStoreItem_storeItem" name="editStoreItem_storeItem">
                    <option [ngValue]="null" disabled="true">Select a Store Item</option>
                    <option *ngFor="let storeItem of (storeItemQuery.selectAll() | async)" [ngValue]="storeItem">
                      {{storeItem.name}} {{storeItem.cost}}pts
                    </option>
                  </select>
                  <div *ngIf="(editStoreItemFormSubmitted && editStoreItemForm.controls.storeItem.invalid) || (editStoreItemForm.dirty && editStoreItemForm.controls.storeItem.touched && editStoreItemForm.controls.storeItem.invalid)">
                    <label class="validation-message">This field is required.</label>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <label for="editStoreItem_name" class="form-label">Store Item Name</label>
                  <input class="form-control storeItem-form-control" id="editStoreItem_name" placeholder="Store Item Name" formControlName="name">
                  <div *ngIf="(editStoreItemFormSubmitted && editStoreItemForm.controls.name.invalid) || (editStoreItemForm.dirty && editStoreItemForm.controls.name.touched && editStoreItemForm.controls.name.invalid)">
                    <label class="validation-message">This field is required.</label>
                  </div>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <label for="editStoreItem_cost" class="form-label">Store Item Cost</label>
                  <input class="form-control storeItem-form-control" id="editStoreItem_cost" placeholder="Store Item Cost" formControlName="cost">
                  <div *ngIf="(editStoreItemFormSubmitted && editStoreItemForm.controls.cost.invalid) || (editStoreItemForm.dirty && editStoreItemForm.controls.cost.touched && editStoreItemForm.controls.cost.invalid)">
                    <label class="validation-message">This field is required.</label>
                  </div>
                </div>

              </div>

              <div class="form-row">
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                  <label for="editStoreItem_description" class="form-label">Store Item Description</label>
                  <input type="text" class="form-control storeItem-form-control" id="editStoreItem_description" placeholder="Store Item Description" formControlName="description">
                  <div *ngIf="(editStoreItemFormSubmitted && editStoreItemForm.controls.description.invalid) || (editStoreItemForm.dirty && editStoreItemForm.controls.description.touched && editStoreItemForm.controls.description.invalid)">
                    <label class="validation-message">This field is required.</label>
                  </div>
                </div>
              </div>

              <div class="form-row">

                <div class="col-md-12 text-center zeropadding">
                  <div *ngIf="editStoreItemForm.controls.storeItem?.value" class="form-group col-12">
                    <div class="btn btn-primary">
                      <span>Change Store Item Image</span>
                      <input type="file" (change)="editItemFileChangeEvent($event)"
                             id="editStoreItem_image"
                             formControlName="image"
                             accept="image/*"
                             placeholder="Upload Store Item Image">
                    </div>
                    <div *ngIf="editStoreItemFormSubmitted && !editStoreItemForm.controls.image?.value && !editItemCroppedImage">
                      <label class="validation-message">Please select an image.</label>
                    </div>
                    <div class="textc">
                      <image-cropper
                        [imageChangedEvent]="editItemImageChangedEvent"
                        [resizeToWidth]="400"
                        autoCrop="false"
                        format="png"
                        outputType="both"
                        onlyScaleDown="true"
                        (imageCropped)="editItemImageCropped($event)"
                        (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed()"
                      ></image-cropper>
                    </div>
                  </div>
                  <img *ngIf="!editItemCroppedImage" src="{{editStoreItemForm.controls.image?.value}}">
                </div>
              </div>

            </form>

          </div>
        </perfect-scrollbar>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onEditStoreItemFormSubmit(editStoreItemForm)">Save Changes</button>
      </div>

    </div>
  </div>
</div>

<!-- Delete Point Item -->
<div class="modal fade bd-example-modal-lg" id="deleteStoreItemModal" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteStoreItemModalLabel">Delete a Store Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="deleteStoreItemForm">
          <div class="form-row">
            <div class="form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <label for="deleteStoreItem_pointItem" class="form-label">Select a Store Item to Delete</label>
              <select formControlName="storeItem"
                      class="form-control storeItem-form-control"
                      id="deleteStoreItem_pointItem" name="deleteStoreItem_pointItem">
                <option [ngValue]="null" disabled="true">Select a Store Item</option>
                <option *ngFor="let storeItem of (storeItemQuery.selectAll() | async)" [ngValue]="storeItem">
                  {{storeItem.name}} {{storeItem.cost}}pts
                </option>
              </select>
              <div *ngIf="(deleteStoreItemFormSubmitted && deleteStoreItemForm.controls.storeItem.invalid) || (deleteStoreItemForm.dirty && deleteStoreItemForm.controls.storeItem.touched && deleteStoreItemForm.controls.storeItem.invalid)">
                <label class="validation-message">Please select a Store Item</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onDeleteStoreItemFormSubmit(deleteStoreItemForm)">Delete Store Item</button>
      </div>
    </div>
  </div>
</div>

