<div class="wrapper">

  <section class="section section-lg section-coins">
    <img src="../../../assets/img/path3.png" class="path">
    <div class="container align-items-center wrapperwidth">
      <div class="row" >
        <div class="col-lg-12 col-md-6 col-sm-10 ml-auto mr-auto" id="profile">

          <div class="card">
            <div class="card card-coin card-plain card-custom">

              <div class="card-body" >
                <div *ngIf="user; else cardLoading" class="row">
                  <div class="col-4">
                    <div class="row">
                      <div class="col-12">
                        <div *ngIf="user$; else avatarLoading">
                          <img [src]="(user$ | async)[0]?.avatarResolvedUrl"
                               alt="Avatar"
                               class="img-center img-fluid rounded-circle"
                               id="avatar">
                        </div>

                        <ng-template #avatarLoading >
                          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                               alt="Loading..."
                               class="img-center img-fluid rounded-circle"
                               id="avatarPlaceholder">
                        </ng-template>
                      </div>
                    </div>
                    <div *ngIf="user$" class="row">
                      <div class="col-md-12 text-center">
                        <div *ngIf="(user$ | async)[0]?.preferredName; else noPreferredName">
                          <h4 class="text-uppercase">{{(user$ | async)[0]?.preferredName}}</h4>
                        </div>
                        <ng-template #noPreferredName>
                          <h4 class="text-uppercase">{{(user$ | async)[0]?.firstName}} {{(user$ | async)[0]?.lastName}}</h4>
                        </ng-template>
                        <span>{{(user$ | async)[0]?.department.Name}} Manager</span>
                      </div>
                    </div>
                    <div *ngIf="user$" class="row text-center">
                      <div class="col p-2">
                        <h3 class="mb-1 line-height-5 font-weight-bold">Point Pool</h3>
                        <h4 class="mb-0">{{(user$ | async)[0]?.pointsPool}} / 5000</h4>
                      </div>
                      <div class="col p-2">
                        <h3 class="mb-1 line-height-5 font-weight-bold">Trophies</h3>
                        <h4 class="mb-0">{{userQuery.getUserCompleteAchievementCount((user$ | async)[0]?.userId).length}} / {{achievementQuery.getAll().length}}</h4>
                      </div>
                    </div>

                  </div>

                  <div class="col-8">

                    <div *ngIf="user$" class="row attributes-row">
                      <div class="user-form-container col-12">
                        <div class="form-row">
                          <div class="col-3">
                            <label class="form-label">Email</label>
                          </div>
                          <div class="col-7">
                            <div *ngIf="(user$ | async)[0]?.emailPublic; else fieldPrivate">
                              <h4 class="user-attribute">{{(user$ | async)[0]?.email}}</h4>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-3">
                            <label class="form-label">Phone</label>
                          </div>
                          <div class="col-7">
                            <div *ngIf="(user$ | async)[0]?.phonePublic; else fieldPrivate">
                              <h4 class="user-attribute">{{(user$ | async)[0]?.phone}}</h4>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-3">
                            <label class="form-label">Gender</label>
                          </div>
                          <div class="col-7">
                            <div *ngIf="(user$ | async)[0]?.genderPublic; else fieldPrivate">
                              <h4 *ngIf="(user$ | async)[0]?.gender" class="user-attribute">{{(user$ | async)[0]?.gender}}</h4>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-3">
                            <label class="form-label">Date of Birth</label>
                          </div>
                          <div class="col-7">
                            <div *ngIf="(user$ | async)[0]?.birthdatePublic; else fieldPrivate">
                              <h4 class="user-attribute">{{(user$ | async)[0]?.birthdate}}</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="user$" class="row quote-row">
                      <div class="col-1 quote-box-quotation-mark" >
                        <div>&ldquo;</div>
                      </div>
                      <div class="col-9 quote-box-text">
                        <div *ngIf="(user$ | async)[0]?.quote; else noQuote">
                          <h4 class="user-attribute">{{(user$ | async)[0]?.quote}}</h4>
                        </div>
                        <ng-template #noQuote>
                          <h4 class="user-attribute">Nothing here yet...</h4>
                        </ng-template>

                      </div>
                      <div class="col-2">

                      </div>
                    </div>
                    <div *ngIf="user$ && pointItemTransactions" class="form-row y-padding-0 margin-top-10">
                      <div class="col-12">
                        <div class="form-row y-padding-0">
                          <div class="col-8">
                            <label class="form-label">Latest awarded points...</label>
                          </div>
                          <div *ngIf="(user$ | async)[0]?.pointsPublic" class="col-2 y-margin-auto textr">
                            <a href="javascript:void(0)" (click)="showPointsModal()">...view all</a>
                          </div>
                        </div>
                        <div *ngIf="(user$ | async)[0]?.pointsPublic; else fieldPrivate2">
                          <div *ngIf="pointItemTransactions[0]; else noPointItemTransactions">
                            <div class="form-row y-padding-0 margin-top--10">
                              <div class="col-8">
                                <h5 class="user-attribute italics">{{(pointItemQuery.selectPointItemByItemId(pointItemTransactions[0]?.pointItemId) | async)[0]?.name}}</h5>
                              </div>
                              <div class="col-2 textr">
                                <h5 class="user-attribute">{{pointItemTransactions[0]?.amount}}pts</h5>
                              </div>
                            </div>
                            <div class="form-row y-padding-0 margin-top--10">
                              <div class="col-12">
                                <h5 class="user-attribute">- Awarded to {{(userQuery.selectUserByUserId(pointItemTransactions[0]?.targetUserId) | async)[0]?.firstName}} {{(userQuery.selectUserByUserId(pointItemTransactions[0]?.targetUserId) | async)[0]?.lastName}} on {{pointItemTransactions[0]?.createdAt | date:'longDate'}}</h5>
                              </div>
                            </div>
                          </div>
                          <ng-template #noPointItemTransactions>
                            <div class="form-row y-padding-0 margin-top--10">
                              <div class="col-8">
                                <h5 class="user-attribute font-italic">No points awarded to anyone yet...</h5>
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="user$ && achievements && completedAchievements" class="form-row y-padding-0 margin-top-30">
                      <div class="col-12">
                        <div class="form-row y-padding-0">
                          <div class="col-8">
                            <label class="form-label">Latest completed achievement...</label>
                          </div>
                          <div *ngIf="(user$ | async)[0]?.achievementsPublic" class="col-2 y-margin-auto textr">
                            <a href="javascript:void(0)">...view all</a>
                          </div>

                        </div>
                        <div *ngIf="(user$ | async)[0]?.achievementsPublic; else fieldPrivate2">
                          <div *ngIf="completedAchievements[0]; else noCompletedAchievements">
                            <div class="form-row y-padding-0 margin-top--10">
                              <div class="col-8">
                                <h5 class="user-attribute font-italic font-weight-bold ">{{completedAchievements[0]?.name}}</h5>
                                <h5 class="user-attribute font-italic">{{completedAchievements[0]?.description}}</h5>
                              </div>
                              <div class="col-2 y-margin-auto textr">
                            <span *ngFor="let star of achievementQuery.getAchievementFamilyCount(completedAchievements[0])">
                              <i *ngIf="star.progressStatus === 'complete' || star.progressStatus === 'complete acknowledged'" class="fas fa-star"></i>
                              <i *ngIf="star.progressStatus === 'in progress' || star.progressStatus === 'not started'" class="far fa-star"></i>
                            </span>
                              </div>

                            </div>
                            <div class="form-row y-padding-0 margin-top--10">
                              <div class="col-12">
                                <h5 class="user-attribute">- Completed on {{completedAchievements[0]?.updatedAt | date:'longDate'}}</h5>
                              </div>
                            </div>
                          </div>
                          <ng-template #noCompletedAchievements>
                            <div class="form-row y-padding-0 margin-top--10">
                              <div class="col-8">
                                <h5 class="user-attribute font-italic">No completed achievements yet...</h5>
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-center">
                <div class="container">
                  <div class="row">

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #fieldPrivate>
  <h4 class="user-attribute">This information has been set private</h4>
</ng-template>
<ng-template #fieldPrivate2>
  <div class="form-row y-padding-0 margin-top--10">
    <div class="col-8">
      <h4 class="user-attribute">This information has been set private</h4>
    </div>
  </div>
</ng-template>

<ng-template #cardLoading>
  <div class="card-body">
    <ngx-spinner
      name="other-user-manager-spinner"
      [fullScreen]="false"
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#fff"
      type="pacman"
    >
      <p class="loadingstyle">Loading...</p>
    </ngx-spinner>
  </div>
</ng-template>

<!--<div class="modal fade modal-black" id="pointsModal" role="dialog">
  <div class="modal-dialog modal-lg" role="document">

    &lt;!&ndash; Modal content&ndash;&gt;
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title">Your Point Item Awards</h4>
      </div>
      &lt;!&ndash;-modal body&#45;&#45;&ndash;&gt;
      <div class="modal-body modalclass">
        <perfect-scrollbar class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="false">
          <app-point-item [inputUser]="user"></app-point-item>
        </perfect-scrollbar>
      </div>

      &lt;!&ndash;&#45;&#45;End Mod Bod&#45;&#45;&ndash;&gt;

    </div>
  </div>


</div>-->
