<div class="index-page">
  <app-navigation></app-navigation>

  <ng-container *ngIf="currentUser && profileUser">
    <ng-container *ngIf="currentUser.username !== profileUser.username; else currentUserPage">
      <app-other-user *ngIf="profileUser.securityRole.Id === 1" [inputUser]="profileUser"></app-other-user>
      <app-other-user-manager *ngIf="profileUser.securityRole.Id === 2" [inputUser]="profileUser"></app-other-user-manager>
    </ng-container>


    <ng-template #currentUserPage>
      <div class="profile-header">
        <app-profile-header></app-profile-header>
      </div>

      <div class="wrapper">

        <section class="section section-lg section-coins">
          <img src="../../../assets/img/path3.png" class="path position-fixed">
          <div class="container align-items-center wrapper-width">
            <div class="row" >
              <div class="col-lg-12 col-md-6 col-sm-10 ml-auto mr-auto" id="profile">

                <div class="card">
                  <div class="card card-coin card-plain card-custom">

                    <div class="card-body" >
                      <!--<ngx-spinner
                        name="profile-spinner"
                        [fullScreen]="false"
                        bdColor="rgba(51,51,51,0.8)"
                        size="medium"
                        color="#fff"
                        type="pacman"
                      >
                        <p class="loadingstyle">Loading...</p>
                      </ngx-spinner>-->

                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 text-left">
                          <ul class="nobullets">
                            <li (click)="onViewItemClick('editProfile')" id="viewItem_editProfile" [ngClass]="{'toggled': currentView === 'editProfile'}">
                              Edit Profile
                            </li>
                            <li (click)="onViewItemClick('changePassword')" id="viewItem_changePassword" [ngClass]="{'toggled': currentView === 'changePassword'}">
                              Change Password
                            </li>
                            <ng-container *ngIf="profileUser.securityRole.Id !== 3">
                              <li (click)="onViewItemClick('privacySettings')" id="viewItem_privacySettings" [ngClass]="{'toggled': currentView === 'privacySettings'}">
                                Privacy Settings
                              </li>
                            </ng-container>
                            <li (click)="onViewItemClick('notificationSettings')" id="viewItem_notifications" [ngClass]="{'toggled': currentView === 'notificationSettings'}">
                              Notification Settings
                            </li>
                          </ul>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                          <ng-container *ngIf="currentView === 'editProfile'">
                            <app-edit-profile  [option]="option" (clearOption)="clearOption($event)"></app-edit-profile>
                          </ng-container>
                          <ng-container *ngIf="currentView === 'changePassword'">
                            <app-change-password ></app-change-password>
                          </ng-container>
                          <ng-container *ngIf="currentView === 'privacySettings'">
                            <app-privacy-settings ></app-privacy-settings>
                          </ng-container>
                          <ng-container *ngIf="currentView === 'notificationSettings'">
                            <app-notification-settings (returnFromConfirmClick)="returnFromConfirmClick($event)"></app-notification-settings>
                          </ng-container>

                        </div>

                      </div>


                    </div>
                    <div class="card-footer text-center">
                      <!-----Button----->
                      <div class="container">
                        <div class="row">

                        </div>
                      </div>
                    </div>
                  </div>


                  <!--

                                &lt;!&ndash; Blank card to display while loading &ndash;&gt;
                                <ng-template #cardLoading>
                                  <div class="card-body">
                                    <ngx-spinner
                                      name="profile-spinner"
                                      [fullScreen]="false"
                                      bdColor="rgba(51,51,51,0.8)"
                                      size="medium"
                                      color="#fff"
                                      type="pacman"
                                    >
                                      <p class="loadingstyle">Loading...</p>
                                    </ngx-spinner>
                                  </div>
                                </ng-template>
                  -->

                </div>







              </div>
            </div>
          </div>
        </section>


      </div>
    </ng-template>
  </ng-container>


</div>

