
<div class="register-page">
  <div class="wrapper">
    <div class="page-header">
      <div class="page-header-image"></div>
      <div class="content">
        <div class="container">
          <!-- <app-sign-in></app-sign-in> -->
          <router-outlet></router-outlet>

          <div class="register-bg"></div>
          <div id="square1" class="square square-1"></div>
          <div id="square2" class="square square-2"></div>
          <div id="square3" class="square square-3"></div>
          <div id="square4" class="square square-4"></div>
          <div id="square5" class="square square-5"></div>
          <div id="square6" class="square square-6"></div>
        </div>
      </div>
    </div>

  </div>
  <button mat-raised-button color="primary" (click)="onSocketTestClick1()">Test1</button>
  <button mat-raised-button color="primary" (click)="onSocketTestClick2()">Test2</button>
  <button mat-raised-button color="primary" routerLink="/signin">Sign In</button>
  <button mat-raised-button color="primary" routerLink="/signup">Sign Up</button>
</div>
