

.card-coin {
  /*margin-bottom: 0;*/
  border: 0;
  min-height: 600px;
  max-height: 600px;
  /*margin-top: 80px;*/
}

div.card.card-coin.card-plain.card-custom {
  background-color: #674ba580;
}

div.card {
  background-color: rgba(167,53,43,0)
}

@media (max-width: 575.98px) {
  .card.card-coin {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .card {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .card.card-coin {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .card {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 991px) {
  .card.card-coin {
    margin-bottom: 0px;
  }
}
