<div class="card">
  <div class="card card-coin card-plain maxheight">
    <div class="card-header">
      <!-- <img src="../../../../assets/img/mike.jpg" class="img-center img-fluid rounded-circle"> -->
<!--      <img [src]="this.avatarService.userAvatarImageToShow"-->
      <img [src]="this.avatarService.userAvatarUrl"
            alt="Avatar"
           *ngIf="!isImageLoading; else avatarPlaceholder"
           class="img-center img-fluid rounded-circle"
           id="avatar">

      <ng-template #avatarPlaceholder>
<!--        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             alt="Avatar"
             class="img-center img-fluid rounded-circle"
             id="avatarPlaceholder">-->
      </ng-template>
    </div>

    <div class="card-body" *ngIf="!isCardLoading; else cardLoading">
      <ngx-spinner
        name="profile-card-spinner"
        [fullScreen]="false"
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="pacman"
      >
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>

      <div class="row">
        <div class="col-md-12 text-center">
          <h4 class="text-uppercase">{{globals.localStorageItem('firstName')}} {{globals.localStorageItem('lastName')}}</h4>
          <span>{{globals.localStorageItem('departmentName')}}</span>
          <hr class="line-success">
        </div>
      </div>
      <!-------Quote Box------>
      <form accept-charset="UTF-8" action="" method="POST">
        <textarea class="form-control" id="text" name="text" placeholder="Type in your message" rows="5"></textarea>
        <h6 class="pull-right" id="count_message"></h6>
        <button class="btn btn-info" type="submit">Post New Message</button>
      </form>
      <!-------End of Quote Box----->
      <div class="row text-center mt-4">
        <div class="col p-2">
          <h3 class="mb-1 line-height-5 font-weight-bold">Points</h3>
          <h4 class="mb-0">{{globals.localStorageItem('points')}}</h4>
        </div>
        <div class="col p-2">
          <h3 class="mb-1 line-height-5 font-weight-bold">Trophies</h3>
          <h4 class="mb-0">23/120</h4>
        </div>
        <div class="col p-2">
          <h3 class="mb-1 line-height-5 font-weight-bold">Rank</h3>
          <h4 class="mb-0" *ngIf="this.userLeaderboardRecord">{{this.userLeaderboardRecord.rank}}</h4>
        </div>
      </div>
      <div class="card-footer text-center">
        <!-----Button----->

        <button class="btn-lg btn-primary btn-success" data-toggle="modal" data-target="#myModal">
          Customize
        </button>
        <button type="button" class="btn btn-danger" (click)="showGallery()">Change Avatar</button>
        <div class="modal fade modal-black" id="myModal" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Settings</h4>
              </div>
              <!---modal body---->
              <div class="modal-body">
                <input type="file" (change)="fileChangeEvent($event)" />
                <button type="button" (click)="onImageSelected($event)">Upload</button>

<!--                <image-cropper
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="4 / 3"
                  [resizeToWidth]="128"
                  format="png"
                  (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded()"
                  (cropperReady)="cropperReady()"
                  (loadImageFailed)="loadImageFailed()"
                ></image-cropper>-->

                <image-cropper
                  [imageChangedEvent]="imageChangedEvent"
                  format="png"
                  outputType="both"
                  (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded()"
                  (cropperReady)="cropperReady()"
                  (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
                <br />
                <br />
                <br />
                <br />


                <img [src]="croppedImageToShow" />
              </div>

              <!----End Mod Bod---->
              <div class="modal-footer">
                <button type="button" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Blank card to display while loading -->
  <ng-template #cardLoading>
    <div class="card-body">
      <ngx-spinner
        name="profile-card-spinner"
        [fullScreen]="false"
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="pacman"
      >
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>
    </div>
  </ng-template>

</div>
<div class="modal fade modal-black" id="imageSelectorModal" role="dialog" tabindex="-1" aria-labelledby="imageSelectorModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-sm" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Choose Your Avatar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!---modal body---->
      <div class="modal-body">
        <app-image-gallery></app-image-gallery>
      </div>
      <!----End Mod Bod---->

    </div>
  </div>
</div>
