#avatar {
  margin-right: 25px;
  margin-left: 25px;
}

/*.card {
  background: #8656d22e;
}*/

.card-coin {
  /*margin-bottom: 0;*/
  border: 0;
  min-height: 600px;
  /*margin-top: 80px;*/
}

/*
.card.card-coin {
  margin-top: 0px;
  margin-bottom: 80px;
}
*/

div.card.card-coin.card-plain.card-custom {
  background-color: #674ba580;
}

div.card {
  background-color: rgba(167,53,43,0)
}

/*.card {
  background: #8656d22e;
}*/

@media (max-width: 575.98px) {
/*  .section-coins {
    margin-top: 100px !important;
  }*/
  .card.card-coin {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .card {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
/*  .section-coins {
    margin-top: 100px !important;
  }*/

  .card.card-coin {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .card {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 991px) {
/*  .section-coins {
    margin-top: 100px;
  }*/
  .card.card-coin {
    /*margin-top: 0px;*/
    margin-bottom: 0px;
  }
}

/*.card {
  background: #b11710;
  border: 0;
  position: relative;
  width: 100%;
  !*margin-bottom: 30px;*!
  box-shadow: 0 1px 20px 0px rgba(254, 49, 255, 0.75);
}*/

/*.card.card-coin {
  border: 2px solid rgba(15, 117, 27, 0);
}*/

.modal-black {

}
