
<div class="row">
  <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
    <div id="square7" class="square square-7"></div>
    <div id="square8" class="square square-8"></div>
    <div class="card card-register">
      <div class="card-header">
        <img class="card-img" src="../assets/img/square1.png" alt="Card image">
        <h4 class="card-title">Reset</h4>
      </div>
      <div class="card-body">

        <div *ngIf="!codeSent; else codeSentForm">
          <form #getCodeForm="ngForm" (ngSubmit)="getCode(getCodeForm)" class="form">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-single-02"></i>
                </div>
              </div>
              <input type="text"
                     id="codeGetUsername"
                     name="codeGetUsername"
                     #codeGetUsername="ngModel"
                     class="form-control"
                     [(ngModel)]="getCodeModel.value.username"
                     required
                     minlength="3"
                     maxlength="50"
                     placeholder="Username">
            </div>
            <label class="validation-message" *ngIf="getCodeForm.submitted && codeGetUsername.errors?.minlength">The username must be at least 3 characters long.</label>

            <button type="submit" class="btn btn-info btn-round">Get Reset Code</button>
            <button type="button" class="btn btn-info btn-round" routerLink="/signin">Back to Sign In</button>

          </form>

          <div class="card-footer">
            <p>Already have a reset code? <a href="javascript:void(null)" (click)="alreadyHaveCodeClick()">Enter reset code</a></p>
          </div>

        </div>

        <ng-template #codeSentForm>
          <form #forgotPasswordForm="ngForm" (ngSubmit)="resetPassword(forgotPasswordForm)" class="form">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-single-02"></i>
                </div>
              </div>

              <input type="text"
                     id="codeSentUsername"
                     name="codeSentUsername"
                     #codeSentUsername="ngModel"
                     class="form-control"
                     [(ngModel)]="resetPasswordModel.value.username"
                     required
                     minlength="3"
                     maxlength="50"
                     placeholder="Username">
            </div>
            <label class="validation-message" *ngIf="forgotPasswordForm.submitted && codeSentUsername.errors?.minlength">The username must be at least 3 characters long.</label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-key-25"></i>
                </div>
              </div>
              <input type="text"
                     id="codeSentCode"
                     name="codeSentCode"
                     #codeSentCode="ngModel"
                     class="form-control"
                     [(ngModel)]="resetPasswordModel.value.code"
                     required
                     placeholder="Password reset code">
            </div>
            <label class="validation-message"  *ngIf="forgotPasswordForm.submitted && !codeSentCode.valid">This field is required.</label>

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"></i>
                </div>
              </div>
              <input type="password"
                     id="codeSentPassword"
                     name="codeSentPassword"
                     #codeSentPassword="ngModel"
                     class="form-control"
                     [(ngModel)]="resetPasswordModel.value.password"
                     required
                     minlength="8"
                     placeholder="New password">
            </div>
            <label class="validation-message" *ngIf="forgotPasswordForm.submitted && !codeSentPassword.valid && codeSentPassword.errors?.minlength">The password must be at least 8 characters long.</label>

            <button type="submit" class="btn btn-info btn-round">Reset Password</button>
            <button type="button" class="btn btn-info btn-round" routerLink="/signin">Back to Sign In</button>


          </form>
          <div class="card-footer">
            <!--<a href="javascript:void(0)" class="btn btn-info btn-round btn-lg">Get Started</a>-->
            <p>Didn't receive a code? <a href="javascript:void(null)" (click)="sendAgain()">Send again</a></p>
          </div>
        </ng-template>


      </div>
    </div>
  </div>
</div>
