
<div class="row">
  <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
    <div id="square7" class="square square-7"></div>
    <div id="square8" class="square square-8"></div>
    <div class="card card-register">
      <div class="card-header">
        <img class="card-img" src="../assets/img/square1.png" alt="Card image">
        <h4 class="card-title">Forgot Password</h4>
      </div>
      <div class="card-body">

        <div *ngIf="!codeSent; else codeSentForm">
          <form #getCodeForm="ngForm" (ngSubmit)="getCode(getCodeForm)" class="form">
            <div class="form-group">

              <label for="codeGetUsername">Username</label>
              <input type="text"
                     id="codeGetUsername"
                     name="codeGetUsername"
                     #codeGetUsername="ngModel"
                     class="form-control"
                     [(ngModel)]="getCodeModel.value.username"
                     required
                     minlength="3"
                     maxlength="50"
                     placeholder="Your username">
              <div *ngIf="getCodeForm.submitted && !getCodeForm.valid">
                <label class="validation-message">The username must be at least 3 characters long</label>
              </div>
            </div>

            <div class="card-footer">
              <!--<a href="javascript:void(0)" class="btn btn-info btn-round btn-lg">Get Started</a>-->
              <button type="submit" class="btn btn-info btn-round">Get Reset Code</button>
              <button type="button" class="btn btn-info btn-round" routerLink="/signin">Back to Sign In</button>
<!--              <button type="button" class="btn btn-info btn-round btn-lg" (click)="notify('success')">Success</button>-->
<!--              <button type="button" class="btn btn-info btn-round btn-lg" (click)="notify('warning')">Warn</button>-->
<!--              <button type="button" class="btn btn-info btn-round btn-lg" (click)="notify('error')">Error</button>-->
<!--              <button type="button" class="btn btn-info btn-round btn-lg" (click)="notify('info')">Info</button>-->
<!--              <button type="button" class="btn btn-info btn-round btn-lg" (click)="notify('default')">Default</button>-->
            </div>
            <p>Already have a reset code? <a href="javascript:void(null)" (click)="alreadyHaveCodeClick()">Enter reset code</a></p>
          </form>
        </div>

        <ng-template #codeSentForm>
          <form #forgotPasswordForm="ngForm" (ngSubmit)="resetPassword(forgotPasswordForm)" class="form">
            <div class="form-group">

              <label for="codeSentUsername">Username</label>
              <input type="text"
                     id="codeSentUsername"
                     name="codeSentUsername"
                     #codeSentUsername="ngModel"
                     class="form-control"
                     [(ngModel)]="resetPasswordModel.value.username"
                     required
                     minlength="3"
                     maxlength="50"
                     placeholder="Your username">
              <div *ngIf="forgotPasswordForm.submitted && !codeSentUsername.valid">
                <label class="validation-message">The username must be at least 3 characters long</label>
              </div>
              <label for="codeSentCode">Code</label>
              <input type="text"
                     id="codeSentCode"
                     name="codeSentCode"
                     #codeSentCode="ngModel"
                     class="form-control"
                     [(ngModel)]="resetPasswordModel.value.code"
                     required
                     placeholder="Password reset code">
              <div *ngIf="forgotPasswordForm.submitted && !codeSentCode.valid">
                <label class="validation-message">This field is required.</label>
              </div>
              <label for="codeSentPassword">New Password</label>
              <input type="password"
                     id="codeSentPassword"
                     name="codeSentPassword"
                     #codeSentPassword="ngModel"
                     class="form-control"
                     [(ngModel)]="resetPasswordModel.value.password"
                     required
                     minlength="8"
                     placeholder="Password must be at least 8 characters long">
              <div *ngIf="forgotPasswordForm.submitted && !codeSentPassword.valid">
                <label class="validation-message">The password must be at least 8 characters long.</label>
              </div>
            </div>

            <div class="card-footer">
              <!--<a href="javascript:void(0)" class="btn btn-info btn-round btn-lg">Get Started</a>-->
              <button type="submit" class="btn btn-info btn-round">Reset Password</button>
              <button type="button" class="btn btn-info btn-round" routerLink="/signin">Back to Sign In</button>
              <p>Didn't receive a code? <a href="javascript:void(null)" (click)="sendAgain()">Send again</a></p>
            </div>
          </form>
        </ng-template>


      </div>
    </div>
  </div>
</div>
