<div class="container min-height">
  <ng-container *ngIf="currentUser && achievements">
    <div class="row">
      <div class="col-md-12 text-center">
        <button type="button"
          class="btn btn-success px-2"
          (click)="toggleAvatarUpload()"
          matTooltipPosition="above"
          [matTooltipDisabled]="getCompleteAchievementByName('Email Confirmation')"
          [matTooltip]="matfunction()"
          [disabled]="!getCompleteAchievementByName('Email Confirmation')"
          >Upload Avatar</button>
        <button type="button" class="btn btn-danger px-2" (click)="toggleAvatarSelect()" >Superhero Avatar</button>
        <button type="button" class="btn btn-primary px-2" (click)="generateRandomAvatar()" >Random Avatar</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center m-0 p-0">
        <ng-container *ngIf="avatarUpload">
          <!--        <app-image-cropper></app-image-cropper>-->
          <input type="file" (change)="fileChangeEvent($event)" />
          <button type="button" class="btn btn-success" (click)="onImageSelected($event)">Upload</button>

          <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [resizeToWidth]="200"
            autoCrop="false"
            format="png"
            outputType="both"
            onlyScaleDown="true"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
          ></image-cropper>


        </ng-container>

        <ng-container *ngIf="avatarSelect">
          <app-image-gallery (selected)="onSuperheroSelected($event)"></app-image-gallery>
        </ng-container>

      </div>
    </div>

  </ng-container>

  <!--<div class="card-footer text-center">-->
  <ng-container *ngIf="avatarPreview">
    <img [src]="avatarUrl"
         alt="Avatar"
         class="img-center img-fluid rounded-circle"
         id="avatar">

  </ng-container>

  <!--  </div>-->
  <!--</div>-->
</div>


