<div class="card">
  <div class="card card-coin card-plain card-custom">


    <div class="card-header">
      <h4 class="text-uppercase">Avatars</h4>

    </div>

    <!--    </div>-->
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 text-center">
<!--          <h4 class="text-uppercase">Avatars</h4>-->
<!--          <hr class="line-info">-->
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center" style="margin: 0; padding: 0;">

        </div>
      </div>

    </div>
    <div class="card-footer text-center">

    </div>





  </div>
</div>

