<div class="card">
  <div class="card card-coin card-plain card-custom">
    <div class="card-header">
      <img src= "../../../../assets/img/sport_badges-02-512.png" class="img-center img-fluid rounded-circle"/>
    </div>
    <ng-container *ngIf="!isCardLoading; else leaderboardCardLoading">
      <div class="card-body" >
        <div class="row">
          <div class="col-md-12 text-center">
            <h4 class="text-uppercase">Leaderboard</h4>
          </div>

          <table class="table table-hover">
            <thead>
            <tr>
              <ng-container *ngFor="let col of this.displayedColumns">
                <th >
                  <ng-container *ngIf="col === 'avatar'">
                    <div ></div>
                  </ng-container>
                  <ng-container *ngIf="col === 'rank'" class="text-center">
                    <div >{{col}}</div>
                  </ng-container>
                  <ng-container *ngIf="col === 'name'" >
                    <div >{{col}}</div>
                  </ng-container>
                  <ng-container *ngIf="col === 'points'" class="text-center">
                    <div >{{col}}</div>
                  </ng-container>
                </th>
              </ng-container>

            </tr>

            </thead>
            <tbody>

            <ng-container *ngIf="leaderboardUsers?.length > 0">
              <ng-container *ngFor="let user of leaderboardUsers.slice(0, 4)">
                <tr class="leaderboard-table-row" [routerLink]="['/', 'user', 'profile', user.username]">
                  <ng-container *ngFor="let col of this.displayedColumns">
                    <td >
                      <ng-container *ngIf="col === 'avatar'">
                        <div  class="avatar-container">
                          <div class="circle-container ">
                            <img src="{{user?.avatarResolvedUrl}}"/>
                            <ng-container *ngIf="user?.username === currentUserQuery.getAll()[0]?.username; else otherUser">
                              <div >
                                <ng-container *ngFor="let star of achievementQuery.getCompleteAchievements(); let i = index">
                                  <span>
                                    <ng-container *ngIf="(i * 45) < 360">
                                      <i class="fas fa-star level-one deg{{getFirstDigit(i) * 45}} yellow"></i>
                                    </ng-container>
                                    <ng-container *ngIf="((i * 45) >= 360) && ((i * 45) < 720)">
                                      <i class="fas fa-star level-two deg{{getFirstDigit(i) * 45}} teal"></i>
                                    </ng-container>
                                    <ng-container *ngIf="(i * 45) >= 720">
                                      <i class="fas fa-star level-three deg{{getFirstDigit(i) * 45}} pink" ></i>
                                    </ng-container>
                                  </span>
                                </ng-container>

                              </div>
                            </ng-container>

                            <ng-template #otherUser>
                              <ng-container *ngFor="let star of userQuery.getUserCompleteAchievementCount(user?.userId); let i = index">
                                <span >
                                  <ng-container *ngIf="(i * 45) < 360">
                                    <i class="fas fa-star level-one deg{{getFirstDigit(i) * 45}} yellow" ></i>
                                  </ng-container>
                                  <ng-container *ngIf="((i * 45) >= 360) && ((i * 45) < 720)">
                                    <i class="fas fa-star level-two deg{{getFirstDigit(i) * 45}} teal" ></i>
                                  </ng-container>
                                  <ng-container *ngIf="(i * 45) >= 720">
                                    <i class="fas fa-star level-three deg{{getFirstDigit(i) * 45}} pink" ></i>
                                  </ng-container>
                                </span>
                              </ng-container>

                            </ng-template>
                          </div>
                        </div>
                      </ng-container>

                      <ng-container *ngIf="col === 'rank'">
                        <div class="text-center">{{leaderboardUsers.indexOf(user) + 1}}</div>
                      </ng-container>
                      <ng-container *ngIf="col === 'name'">
                        <ng-container *ngIf="user['preferredName']; else noPreferredName">
                          <div>{{user['preferredName']}}</div>
                        </ng-container>
                        <ng-template #noPreferredName>
                          <div>{{user['firstName'] + ' ' + user['lastName']}}</div>
                        </ng-template>
                      </ng-container>
                      <ng-container *ngIf="col === 'points'">
                        <div class="text-center">{{user[col]}}</div>
                      </ng-container>

                    </td>
                  </ng-container>

                </tr>
              </ng-container>

            </ng-container>

            </tbody>
          </table>

        </div>
      </div>
    </ng-container>

    <div class="card-footer text-center">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#leaderboardModal">More</button>
      <div id="gift-points-scroll-anchor"></div>
    </div>
  </div>
</div>

<!-- Blank card to display while loading -->
<ng-template #leaderboardCardLoading >
  <div class="card-body">
    <ngx-spinner
      name="leaderboard-card-spinner"
      [fullScreen]="false"
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#fff"
      type="pacman"
    >
      <p class="loadingstyle">Loading...</p>
    </ngx-spinner>
  </div>
</ng-template>

<!-- Placeholder for loading avatar -->
<ng-template #avatarLoading >
  <div>
    <img src="https://placeholder.pics/svg/100x100/DEDEDE/555555/%20" alt="Loading..." class="img-row">
  </div>
</ng-template>

<div class="modal fade modal-black" id="leaderboardModal" role="dialog" tabindex="-1" aria-labelledby="leaderboardModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg" role="document">

    <!-- Modal content-->
    <div class="modal-content modalheight">
      <div class="modal-header">
        <h4 class="modal-title">Pineapple Points 🍍 Leaderboard</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!---modal body---->
      <div class="modal-body">
        <table  class="table">
          <thead>
          <tr>
            <ng-container *ngFor="let col of this.displayedColumns">
              <th >
                <ng-container *ngIf="col === 'avatar'">
                  <div ></div>
                </ng-container>
                <ng-container *ngIf="col === 'rank'" class="text-center">
                  <div >{{col}}</div>
                </ng-container>
                <ng-container *ngIf="col === 'name'" >
                  <div >{{col}}</div>
                </ng-container>
                <ng-container *ngIf="col === 'points'" class="text-center">
                  <div >{{col}}</div>
                </ng-container>
                <ng-container *ngIf="col === 'department'" >
                  <div >{{col}}</div>
                </ng-container>
              </th>
            </ng-container>

          </tr>

          </thead>
          <tbody>
          <ng-container *ngFor="let user of leaderboardUsers">
            <tr >
              <ng-container *ngFor="let col of this.displayedColumnsAll">
                <td >
                  <ng-container *ngIf="col === 'avatar'">
                    <div class="avatar-container">
                      <div class="circle-container ">
                        <img src="{{user?.avatarResolvedUrl}}" class="img-row "/>

                        <ng-container *ngIf="user?.username === currentUserQuery.getAll()[0]?.username; else otherUser">
                          <div >
                            <ng-container *ngFor="let star of achievementQuery.getCompleteAchievements(); let i = index">
                              <span>
                                <ng-container *ngIf="(i * 45) < 360">
                                  <i class="fas fa-star level-one deg{{getFirstDigit(i) * 45}} yellow"></i>
                                </ng-container>
                                <ng-container *ngIf="((i * 45) >= 360) && ((i * 45) < 720)">
                                  <i class="fas fa-star level-two deg{{getFirstDigit(i) * 45}} teal"></i>
                                </ng-container>
                                <ng-container *ngIf="(i * 45) >= 720">
                                  <i class="fas fa-star level-three deg{{getFirstDigit(i) * 45}} pink" ></i>
                                </ng-container>
                              </span>
                            </ng-container>

                          </div>
                        </ng-container>

                        <ng-template #otherUser>
                          <ng-container *ngFor="let star of userQuery.getUserCompleteAchievementCount(user?.userId); let i = index">
                            <span >
                              <ng-container *ngIf="(i * 45) < 360">
                                <i class="fas fa-star level-one deg{{getFirstDigit(i) * 45}} yellow" ></i>
                              </ng-container>
                              <ng-container *ngIf="((i * 45) >= 360) && ((i * 45) < 720)">
                                <i class="fas fa-star level-two deg{{getFirstDigit(i) * 45}} teal" ></i>
                              </ng-container>
                              <ng-container *ngIf="(i * 45) >= 720">
                                <i class="fas fa-star level-three deg{{getFirstDigit(i) * 45}} pink" ></i>
                              </ng-container>
                            </span>
                          </ng-container>

                        </ng-template>

                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="col === 'rank'">
                    <div >{{leaderboardUsers.indexOf(user) + 1}}</div>
                  </ng-container>
                  <ng-container *ngIf="col === 'name'">
                    <ng-container *ngIf="user['preferredName']; else noPreferredName">
                      <div>{{user['preferredName']}}</div>
                    </ng-container>
                    <ng-template #noPreferredName>
                      <div>{{user['firstName'] + ' ' + user['lastName']}}</div>
                    </ng-template>
                  </ng-container>
                  <ng-container *ngIf="col === 'points'">
                    <div >{{user[col]}}</div>
                  </ng-container>
                  <ng-container *ngIf="col === 'department'">
                    <div >{{user[col].Name}}</div>
                  </ng-container>

                </td>
              </ng-container>

            </tr>
          </ng-container>

          </tbody>

        </table>
      </div>
      <!----End Mod Bod---->

    </div>
  </div>
</div>
