<div class="card">
  <div class="card card-coin card-plain">
    <div class="card-header">
      <img src="../../../../assets/img/trophy2.svg" class="img-center img-fluid"/>
    </div>
    <div class="card-body" *ngIf="!isCardLoading; else leaderboardCardLoading">
<!--    <div class="card-body">-->
<!--
      <ngx-spinner *ngIf="isCardLoading"
        name="leaderboard-card-spinner"
        [fullScreen]="false"
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="pacman"
      >
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>
-->

      <div class="row">
        <div class="col-md-12 text-center">
          <h4 class="text-uppercase">Leaderboard</h4>
        </div>

        <table class="table table-hover">
          <thead>
          <tr>
            <th *ngFor="let col of this.displayedColumns">
              <div *ngIf="col === 'avatar'"></div>
              <div *ngIf="col === 'rank'" class="text-center">{{col}}</div>
              <div *ngIf="col === 'name'" >{{col}}</div>
              <div *ngIf="col === 'points'" class="text-center">{{col}}</div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of this.leaderboardService.leaderboardUsersTop" data-toggle="modal" data-target="#leaderboardUserModal" (click)="onRowClick(user)">
            <td *ngFor="let col of this.displayedColumns">
              <div *ngIf="col === 'avatar'"><img src="{{user[col]}}"
                                                 class="img-row"
                                                 data-toggle="tooltip"
                                                 data-placement="auto"
                                                 data-html="true"></div>

              <div *ngIf="col === 'rank'" class="text-center">{{user[col]}}</div>
              <div *ngIf="col === 'name'">{{user[col]}}</div>
              <div *ngIf="col === 'points'" class="text-center">{{user[col]}}</div>

            </td>
          </tr>
          </tbody>
        </table>

        <div *ngIf="selectedRow">
          <div id="leaderboardUserModal" class="modal fade modal-black" role="dialog" aria-labelledby="leaderboardUserModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title"></h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!---Modal body---->
                <div class="modal-body">

                  <div class="card">
                    <div class="card card-coin card-plain maxheight">
                      <div class="card-header">

                        <img src="{{selectedRow.avatar}}"
                             alt="Place image title"
                             class="img-center img-fluid rounded-circle"
                             id="avatar">

                      </div>
                      <div class="card-body">
                        <div class="userDetails"></div>
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <h4 class="text-uppercase">{{selectedRow.name}}</h4>
                            <span>{{selectedRow.department}}</span>
                            <hr class="line-success">
                          </div>
                        </div>

                        <div class="row text-center mt-4">
                          <div class="col p-2">
                            <h3 class="mb-1 line-height-5 font-weight-bold">Points</h3>
                            <h4 class="mb-0">{{selectedRow.points}}</h4>
                          </div>
                          <div class="col p-2">
                            <h3 class="mb-1 line-height-5 font-weight-bold">Trophies</h3>
                            <h4 class="mb-0">23/120</h4>
                          </div>
                          <div class="col p-2">
                            <h3 class="mb-1 line-height-5 font-weight-bold">Rank</h3>
                            <h4 class="mb-0">{{selectedRow.rank}}</h4>
                          </div>
                        </div>
                        <div class="card-footer text-center">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!----End Modal Body---->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#leaderboardModal">More</button>
    </div>
  </div>
</div>

<!-- Blank card to display while loading -->
<ng-template #leaderboardCardLoading >
  <div class="card-body">
    <ngx-spinner
      name="leaderboard-card-spinner"
      [fullScreen]="false"
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#fff"
      type="pacman"
    >
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
  </div>
</ng-template>

<div class="modal fade modal-black" id="leaderboardModal" role="dialog" tabindex="-1" aria-labelledby="leaderboardModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Employee Points Leaderboard</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!---modal body---->
      <div class="modal-body">
        <table  class="table">
          <thead>
          <tr>
            <th *ngFor="let col of this.displayedColumnsAll">
              {{col}}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of this.leaderboardService.leaderboardUsers">
            <td *ngFor="let col of this.displayedColumnsAll">
              <div *ngIf="col === 'avatar'"><img src="{{user[col]}}" class="img-row"></div>
              <div *ngIf="col === 'rank'" class="text-center">{{user[col]}}</div>
              <div *ngIf="col === 'name'">{{user[col]}}</div>
              <div *ngIf="col === 'points'">{{user[col]}}</div>
              <div *ngIf="col === 'username'">{{user[col]}}</div>
              <div *ngIf="col === 'email'">{{user[col]}}</div>
              <div *ngIf="col === 'department'">{{user[col]}}</div>

            </td>
          </tr>
          </tbody>

        </table>
      </div>
      <!----End Mod Bod---->

    </div>
  </div>
</div>
