<div class="index-page">
  <app-navigation></app-navigation>
  <div class="profile-header">
    <app-points-store-header></app-points-store-header>
  </div>

  <div class="wrapper ">

    <section class="section section-lg section-coins">
      <img src="../../../assets/img/path3.png" class="path">
      <div class="container align-items-center wrapper-width">

        <div class="row">
          <div *ngIf="(this.currentUserQuery.selectAll() | async)[0]?.securityRole.Id === 2">
            <button mat-raised-button (click)="confirmStoreItemPurchaseRequest();" color="warn"><span>Manager Confirm item Purchase</span></button>
          </div>
          <div class="col-lg-12 col-md-6 col-sm-10 ml-auto mr-auto" id="store">
            <div class="card">
              <div class="card card-coin card-plain card-custom">
                <div class="card-body">
                  <!--<div class="row">
                    <div *ngIf="(this.userHasStoreItemQuery.selectAll() | async)?.length > 0">
                      ** Current Requests **
                      <div *ngFor="let request of (this.userHasStoreItemQuery.selectAll() | async)">
                        Item ID: {{request.storeItemId}} Status: {{request.status}}
                      </div>
                    </div>
                  </div>-->
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <div *ngIf="(this.storeItemQuery.selectLoading() | async) === false; else storeLoading">
                        <div class="row">
                          <div *ngFor="let row of (this.storeItemQuery.getAll())" class="col-4">
                              <div *ngIf="row" class="row">
                                <div class="col-2">

                                </div>
                                <div class="col-8">
                                  <div class="row">
                                    <div class="col-12">
                                      <div class="container-img">
                                        <img [src]="row.imageResolvedUrl"/>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-12">
                                      <button  mat-button (click)="openDialog(); selectStoreItem(row);"> <div class="container-text">{{row.cost}}pts | {{row.name}}</div>
                                        <div class="container-text2">{{row.description}}</div></button>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-2">

                                </div>


                            </div>
                          </div>
                        </div>

                      </div>

                      <ng-template #storeLoading>
                        Loading...
                      </ng-template>

                    </div>

<!--                    <button type="button" class="btn btn-danger" (click)="listStoreItems()" style="padding-right: 10px; padding-left: 10px">List Store Items</button>-->
<!--                    <button type="button" class="btn btn-danger" (click)="storeItemQuery.getAll()" style="padding-right: 10px; padding-left: 10px">Get Store Items</button>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


