.profile-header {
  margin-top: 100px
}

.section-coins {
  margin-top: 0;
  padding: 0;
}

.section {
  margin-top: 0;
  padding: 0;
}

.card-coin {
  border: 0;
  min-height: 600px;
}

.item-selection-container {
  cursor: pointer;
  border-radius: 5px;
}

.item-selection-container-sm {
  background-color: #8965e038;
}

.item-selection-container:hover {
  background-color: rgba(0, 0, 0, 0.11);
}

div.card.card-coin.card-plain.card-custom {
  background-color: #674ba580;
}

div.card {
  background-color: rgba(167,53,43,0)
}

@media (max-width: 575.98px) {
  /*  .section-coins {
      margin-top: 100px !important;
    }*/
  .card.card-coin {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .card {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  /*  .section-coins {
      margin-top: 100px !important;
    }*/

  .card.card-coin {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .card {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 991px) {
  /*  .section-coins {
      margin-top: 100px;
    }*/
  .card.card-coin {
    /*margin-top: 0px;*/
    margin-bottom: 0px;
  }
}

.wrapper-width {
  max-width: 935px;
}

.container-img {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 150px;
  line-height: 150px
}

.container-text {
  line-height: 50px
}

.container-text2 {
  line-height: 20px;
  margin-top: -10px;
}

.container-img img {
  vertical-align: middle;
}


