<div class="index-page">
  <app-navigation></app-navigation>
  <div class="wrapper">

    <section class="section section-lg section-coins">

      <img src="../../../assets/img/path3.png" class="path">
      <div class="container align-items-center">

        <div class="row">

          <div class="col-lg-12 col-md-6 col-sm-10 ml-auto mr-auto" id="store">
            <div class="card">
              <div class="card card-coin card-plain">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      ** Store **
                      <div *ngFor="let row of rows">
                        <div class="row">
                          <div class="col">
                            <div class="container" style="max-height: 150px; margin-bottom: 5px; margin-top: 5px">
                              <img *ngIf="row.items[0]" [src]="row.items[0]"/>
                            </div>
                          </div>
                          <div class="col">
                            <div class="container" style="max-height: 150px; margin-bottom: 5px; margin-top: 5px">
                              <img *ngIf="row.items[1]" [src]="row.items[1]"/>
                            </div>
                          </div>
                          <div class="col">
                            <div class="container" style="max-height: 150px; margin-bottom: 5px; margin-top: 5px">
                              <img *ngIf="row.items[2]" [src]="row.items[2]"/>
                            </div>
                          </div>
<!--                          <div *ngFor="let item of row">
                            <div class="col">
                              <div class="container" style="max-height: 150px">
                                <img [src]="item"/>
                              </div>
                            </div>
                          </div>-->
                        </div>
                      </div>
                      <!--<div class="row">
                        <div class="col">
                          <div class="container" style="max-height: 150px">
                            {{items[0]}}
                          </div>
                        </div>
                        <div class="col">
                          <div class="container" style="max-height: 150px">

                          </div>
                        </div>
                        <div class="col">
                          <div class="container" style="max-height: 150px">

                          </div>
                        </div>
                      </div>-->
<!--                      <div class="row">
                        <div class="col">
                          <div class="container" style="max-height: 150px">

                          </div>
                        </div>
                        <div class="col">
                          <div class="container" style="max-height: 150px">

                          </div>
                        </div>
                        <div class="col">
                          <div class="container" style="max-height: 150px">

                          </div>
                        </div>
                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


