
/* Naviagtion .    */
.fa-bell {
  color: rgba(221, 8, 8, 0.774);
}
.tim-icons icon-trophy {
  color:	rgba(255, 217, 0, 0.815);
  }
.fa {
  font-size:25px;
}
.fas {
  font-size:25px;
}
.fa-gift {
color:	rgb(202, 104, 120);
}
.fas-cog {
color:	rgba(75, 68, 68, 0.774);
}

.tim-icons {
  font-size: 25px
}
.tim-icons {
  font-size: 25px
}

/*.navbar-brand {margin-left: 250px;}*/


