<div class="wrapper">

  <section class="section section-lg section-coins">
    <img src="../../../assets/img/path3.png" class="path">
    <div class="container align-items-center wrapperwidth">
      <div class="row" >
        <div class="col-lg-12 col-md-6 col-sm-10 ml-auto mr-auto" id="profile">

          <div class="card">
            <div class="card card-coin card-plain card-custom">

              <div class="card-body" >
                <ng-container *ngIf="user; else cardLoading">
                  <div  class="row">
                    <div class="col-4">
                      <div class="row">
                        <div class="col-12">
                          <ng-container *ngIf="user; else avatarLoading">
                            <img [src]="user?.avatarResolvedUrl"
                                 alt="Avatar"
                                 class="img-center img-fluid rounded-circle"
                                 id="avatar">
                          </ng-container>

                          <ng-template #avatarLoading >
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                 alt="Loading..."
                                 class="img-center img-fluid rounded-circle"
                                 id="avatarPlaceholder">
                          </ng-template>
                        </div>
                      </div>
                      <ng-container *ngIf="user">
                        <div  class="row">
                          <div class="col-md-12 text-center">
                            <ng-container *ngIf="user.preferredName; else noPreferredName">
                              <h4 class="text-uppercase">{{user.preferredName}}</h4>
                            </ng-container>
                            <ng-template #noPreferredName>
                              <h4 class="text-uppercase">{{user.firstName}} {{user.lastName}}</h4>
                            </ng-template>
                            <span>{{user.department.Name}}</span>
                          </div>
                        </div>
                      </ng-container>

                      <ng-container *ngIf="user">
                        <div class="row text-center">
                          <div class="col p-2">
                            <h3 class="mb-1 line-height-5 font-weight-bold">Points</h3>
                            <h4 class="mb-0">{{user.points}}</h4>
                          </div>
                          <div class="col p-2">
                            <h3 class="mb-1 line-height-5 font-weight-bold">Trophies</h3>
                            <h4 class="mb-0">{{userQuery.getUserCompleteAchievementCount(user.userId).length}} / {{achievementQuery.getAll().length}}</h4>
                          </div>
                          <div class="col p-2">
                            <h3 class="mb-1 line-height-5 font-weight-bold">Rank</h3>
                            <h4 class="mb-0">{{leaderboardUsers.indexOf(user) + 1}}</h4>
                          </div>
                        </div>
                      </ng-container>

                      <div class="row core-value-row">
                        <div class="col-12">
                          <ng-container *ngIf="user.coreValuesPublic; else chartPrivate">
                            <ng-container *ngIf="coreValueData && (coreValueData)?.length > 0; else coreValueChartPlaceholder">
                              <div class="img-center img-fluid">
                                <div class="positionrelative">
                                  <div class="row text-center">
                                    <h3 class="mb-1 line-height-5 font-weight-bold x-margin-auto">Core Values</h3>
                                  </div>
                                  <div class="row chart-row" >
                                    <google-chart class="x-margin-auto" #chart
                                                  [type]="'PieChart'"
                                                  [data]="coreValueData"
                                                  [columnNames]="myColumnNames"
                                                  [options]="options">
                                    </google-chart>
                                  </div>
                                </div>
                              </div>
                            </ng-container>

                            <ng-template #coreValueChartPlaceholder>
                              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                   alt="Loading..."
                                   class="img-center img-fluid rounded-circle"
                                   id="coreValueChartPlaceholder">
                            </ng-template>
                          </ng-container>
                        </div>
                      </div>
                    </div>

                    <div class="col-8">

                      <ng-container>
                        <div *ngIf="user" class="row attributes-row">
                          <div class="user-form-container col-12">
                            <div class="form-row">
                              <div class="col-3">
                                <label class="form-label">Email</label>
                              </div>
                              <div class="col-7">
                                <ng-container *ngIf="user.emailPublic; else fieldPrivate">
                                  <h4 class="user-attribute">{{user.email}}</h4>
                                </ng-container>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col-3">
                                <label class="form-label">Phone</label>
                              </div>
                              <div class="col-7">
                                <ng-container *ngIf="user.phonePublic; else fieldPrivate">
                                  <h4 class="user-attribute">{{user.phone}}</h4>
                                </ng-container>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col-3">
                                <label class="form-label">Gender</label>
                              </div>
                              <div class="col-7">
                                <ng-container *ngIf="user.genderPublic; else fieldPrivate">

                                  <h4  class="user-attribute">{{user?.gender}}</h4>


                                </ng-container>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col-3">
                                <label class="form-label">Date of Birth</label>
                              </div>
                              <div class="col-7">
                                <ng-container *ngIf="user.birthdatePublic; else fieldPrivate">
                                  <h4 class="user-attribute">{{user?.birthdate}}</h4>
                                </ng-container>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>

                      <ng-container *ngIf="user">
                        <div class="row quote-row">
                          <div class="col-1 quote-box-quotation-mark" >
                            <div>&ldquo;</div>
                          </div>
                          <div class="col-9 quote-box-text">
                            <ng-container *ngIf="user.quote; else noQuote">
                              <h4 class="user-attribute">{{user.quote}}</h4>
                            </ng-container>
                            <ng-template #noQuote>
                              <h4 class="user-attribute">Nothing here yet...</h4>
                            </ng-template>

                          </div>
                          <div class="col-2">

                          </div>
                        </div>
                      </ng-container>

                      <ng-container *ngIf="user && pointItemTransactions">
                        <div class="form-row y-padding-0 margin-top-10">
                          <div class="col-12">
                            <div class="form-row y-padding-0">
                              <div class="col-8">
                                <label class="form-label">Latest points award...</label>
                              </div>
                              <ng-container *ngIf="user.pointsPublic">
                                <div  class="col-2 y-margin-auto textr">
                                  <a href="javascript:void(0)" (click)="showPointsModal()">...view all</a>
                                </div>
                              </ng-container>

                            </div>
                            <ng-container *ngIf="user.pointsPublic; else fieldPrivate2">
                              <ng-container *ngIf="pointItemTransactions[0]; else noPointItemTransactions">
                                <div class="form-row y-padding-0 margin-top--10">
                                  <div class="col-8">
                                    <h5 class="user-attribute italics">{{pointItemQuery.getPointItemByItemId(pointItemTransactions[0].pointItemId)?.name}}</h5>
                                  </div>
                                  <div class="col-2 textr">
                                    <h5 class="user-attribute">{{pointItemTransactions[0].amount}}pts</h5>
                                  </div>
                                </div>
                                <div class="form-row y-padding-0 margin-top--10">
                                  <div class="col-12">
                                    <h5 class="user-attribute">- Awarded by {{userQuery.getUserByUserId(pointItemTransactions[0].sourceUserId)?.firstName}} {{userQuery.getUserByUserId(pointItemTransactions[0].sourceUserId)?.lastName}} on {{pointItemTransactions[0].createdAt | date:'longDate'}}</h5>
                                  </div>
                                </div>
                              </ng-container>
                              <ng-template #noPointItemTransactions>
                                <div class="form-row y-padding-0 margin-top--10">
                                  <div class="col-8">
                                    <h5 class="user-attribute font-italic">No points awards yet...</h5>
                                  </div>
                                </div>
                              </ng-template>
                            </ng-container>
                          </div>
                        </div>
                      </ng-container>

                      <ng-container *ngIf="user && achievements && completedAchievements">
                        <div  class="form-row y-padding-0 margin-top-30">
                          <div class="col-12">
                            <div class="form-row y-padding-0">
                              <div class="col-8">
                                <label class="form-label">Latest completed achievement...</label>
                              </div>
                              <ng-container *ngIf="user.achievementsPublic">
                                <div class="col-2 y-margin-auto textr">
                                  <a href="javascript:void(0)" (click)="showAchievementsModal()">...view all</a>
                                </div>
                              </ng-container>

                            </div>
                            <ng-container *ngIf="user.achievementsPublic; else fieldPrivate2">
                              <ng-container *ngIf="completedAchievements[0]; else noCompletedAchievements">
                                <div class="form-row y-padding-0 margin-top--10">
                                  <div class="col-8">
                                    <h5 class="user-attribute font-italic font-weight-bold ">{{completedAchievements[0].name}}</h5>
                                    <h5 class="user-attribute font-italic">{{completedAchievements[0].description}}</h5>
                                  </div>
                                  <div class="col-2 y-margin-auto textr">
                            <span *ngFor="let star of achievementQuery.getAchievementFamilyCount(completedAchievements[0])">
                              <i *ngIf="star.progressStatus === 'complete' || star.progressStatus === 'complete acknowledged'" class="fas fa-star"></i>
                              <i *ngIf="star.progressStatus === 'in progress' || star.progressStatus === 'not started'" class="far fa-star"></i>
                            </span>
                                  </div>

                                </div>
                                <div class="form-row y-padding-0 margin-top--10">
                                  <div class="col-12">
                                    <h5 class="user-attribute">- Completed on {{completedAchievements[0].updatedAt | date:'longDate'}}</h5>
                                  </div>
                                </div>
                              </ng-container>
                              <ng-template #noCompletedAchievements>
                                <div class="form-row y-padding-0 margin-top--10">
                                  <div class="col-8">
                                    <h5 class="user-attribute font-italic">No completed achievements yet...</h5>
                                  </div>
                                </div>
                              </ng-template>
                            </ng-container>
                          </div>
                        </div>
                      </ng-container>

                    </div>
                  </div>
                </ng-container>

              </div>

              <div class="card-footer text-center">
                <div class="container">
                  <div class="row">

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #fieldPrivate>
  <h4 class="user-attribute">This information has been set private</h4>
</ng-template>
<ng-template #fieldPrivate2>
  <div class="form-row y-padding-0 margin-top--10">
    <div class="col-8">
      <h4 class="user-attribute">This information has been set private</h4>
    </div>
  </div>
</ng-template>
<ng-template #chartPrivate>
  <div class="img-center img-fluid">
    <div class="positionrelative">
      <div class="row text-center">
        <h3 class="mb-1 line-height-5 font-weight-bold x-margin-auto">Core Values</h3>
      </div>
      <div class="row chart-row" >
        <google-chart class="x-margin-auto" #chart
                      [type]="'PieChart'"
                      [data]="privateCoreValueData"
                      [columnNames]="myColumnNames"
                      [options]="privateOptions">
        </google-chart>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #cardLoading>
  <div class="card-body">
    <ngx-spinner
      name="other-user-spinner"
      [fullScreen]="false"
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#fff"
      type="pacman"
    >
      <p class="loadingstyle">Loading...</p>
    </ngx-spinner>
  </div>
</ng-template>

<!--<div class="modal fade modal-black" id="pointsModal" role="dialog">
  <div class="modal-dialog modal-lg" role="document">

    &lt;!&ndash; Modal content&ndash;&gt;
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title">Your Point Item Awards</h4>
      </div>
      &lt;!&ndash;-modal body&#45;&#45;&ndash;&gt;
      <div class="modal-body modalclass">
        <perfect-scrollbar class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="false">
          <app-point-item [inputUser]="user"></app-point-item>
        </perfect-scrollbar>
      </div>

      &lt;!&ndash;&#45;&#45;End Mod Bod&#45;&#45;&ndash;&gt;

    </div>
  </div>


</div>-->
