<ng-container *ngIf="!isCardLoading; else cardLoading">
  <div class="row">
    <div class="user-form-container col-12">
      <form [formGroup]="changePasswordForm">

        <div class="form-row">
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 align-content-center">
            <label for="changePassword_currentPassword" class="form-label">Current Password</label>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <input type="password" class="form-control user-form-control" id="changePassword_currentPassword" placeholder="Current Password" formControlName="currentPassword">
            <ng-container *ngIf="(changePasswordFormSubmitted && changePasswordForm?.controls.currentPassword.invalid) || (changePasswordForm?.dirty && changePasswordForm?.controls.currentPassword.touched && changePasswordForm?.controls.currentPassword.invalid)">
              <label class="validation-message">This field is required.</label>
            </ng-container>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 align-content-center">
            <label for="changePassword_newPassword" class="form-label">New Password</label>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <input type="password" class="form-control user-form-control" id="changePassword_newPassword" placeholder="New Password" formControlName="newPassword">
            <ng-container *ngIf="(changePasswordFormSubmitted && changePasswordForm?.controls.newPassword.invalid) || (changePasswordForm?.dirty && changePasswordForm?.controls.newPassword.touched && changePasswordForm?.controls.newPassword.invalid)">
              <label class="validation-message">This field is required.</label>
            </ng-container>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12 col-sm-4 col-md-4 col-lg-4 align-content-center">
            <label for="changePassword_confirmPassword" class="form-label">Confirm Password</label>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <input type="password" class="form-control user-form-control" id="changePassword_confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword">
            <ng-container *ngIf="(changePasswordFormSubmitted && (changePasswordForm?.errors?.mismatchedPasswords === true)) || (changePasswordForm?.dirty && changePasswordForm?.controls.confirmPassword.touched && (changePasswordForm?.errors?.mismatchedPasswords === true))">
              <label class="validation-message">Passwords don't match.</label>
            </ng-container>
            <ng-container *ngIf="(changePasswordFormSubmitted && (changePasswordForm?.controls.confirmPassword.invalid)) || (changePasswordForm?.dirty && changePasswordForm?.controls.confirmPassword.touched && changePasswordForm?.controls.confirmPassword.invalid)">
              <label class="validation-message">This field is required.</label>
            </ng-container>
          </div>
        </div>



      </form>
      <div ngClass.lt-sm="text-center">
        <button type="button" class="btn btn-primary" (click)="onChangePasswordFormSubmit(changePasswordForm)">Change Password</button>
        <p>Forgot your password? <a href="javascript:void(0)" data-toggle="modal" data-target="#getResetCodeModal" >Reset password</a></p>
      </div>

    </div>
  </div>
</ng-container>

<ng-template #cardLoading>
  <ngx-spinner
    name="change-password-spinner"
    [fullScreen]="true"
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="pacman"
  >
    <p class="loadingstyle">Loading...</p>
  </ngx-spinner>
</ng-template>


<div class="modal fade bd-example" id="getResetCodeModal" role="dialog" tabindex="-1" aria-labelledby="getResetCodeModal" aria-hidden="true" >
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Get Password Reset Code</h4>
      </div>
      <!---modal body---->
      <div class="modal-body">
        <ng-container *ngIf="!phoneConfirmed && !emailConfirmed">
          <div  class="form-row">
            <div class="aligncentercontent">
              <label class="modal-form-label2">In order to reset your password, we need to send you a <b>password reset code</b> to either your phone number or email address...</label>
              <label class="modal-form-label2 ">...but it looks like neither your phone number nor email address are currently confirmed.</label>
              <label class="modal-form-label2 ">Please visit the <b>Edit Profile</b> page to confirm your phone number or email address and then try again.</label>
              <label class="modal-form-label2 ">If you are unable to do so, please click <a href="javascript:void(0)" data-toggle="modal" data-target="#adminPasswordResetModal">here</a> to request a <b>password reset</b> from the administrator.</label>
            </div>
          </div>
        </ng-container>


        <ng-container *ngIf="(phoneConfirmed && !emailConfirmed) || (phoneConfirmed && emailConfirmed)">
          <div class="aligncentercontent">
            <label class="modal-form-label2">Clicking <a href="javascript:void(0)" (click)="onGetResetCodeSubmit()">Get Code</a> will send a <b>password reset code</b> as a text message to your confirmed phone number: <b>{{phone}}</b></label>

          </div>
        </ng-container>

        <ng-container *ngIf="(!phoneConfirmed && emailConfirmed)">
          <div class="aligncentercontent">
            <label class="modal-form-label2">Clicking <a href="javascript:void(0)" (click)="onGetResetCodeSubmit()">Get Code</a> will send a <b>password reset code</b> to your confirmed email address: <b>{{email}}</b></label>

          </div>
        </ng-container>

        <ng-container *ngIf="!phoneConfirmed && !emailConfirmed">
          <div  class="modal-footer">
            <button class="btn btn-primary btn-lg" data-dismiss="modal">OK</button>
          </div>
        </ng-container>


        <div  class="modal-footer">
          <ng-container *ngIf="phoneConfirmed || emailConfirmed">
            <button  class="btn btn-primary btn-lg" (click)="onGetResetCodeSubmit()">Get Code</button>
          </ng-container>

          <button class="btn btn-info btn-lg" data-dismiss="modal">Cancel</button>
        </div>
        <div class="row modal-under-footer">
          <p>Already have a code? <a href="javascript:void(0)" (click)="alreadyHaveCodeClick()">Enter reset code</a></p>
        </div>
      </div>
      <!----End Mod Bod---->

    </div>
  </div>
</div>

<div class="modal fade bd-example" id="resetPasswordModal" role="dialog" tabindex="-1" aria-labelledby="resetPasswordModal" aria-hidden="true" >
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reset Password</h4>
      </div>
      <!---modal body---->
      <div class="modal-body">
        <form [formGroup]="resetPasswordForm">
          <div>
            <div class="form-row">
              <label *ngIf="!phoneConfirmed" class="modal-form-label2">A <b>password reset code</b> was sent to your email: <b>{{email}}</b><br>If you don't see the code in your inbox, you may need to check your junk or spam folders.</label>
              <label *ngIf="phoneConfirmed" class="modal-form-label2">A <b>password reset code</b> was sent to your phone: <b>{{phone}}</b></label>
              <div class="col-5 aligncentercontent">
                <label for="resetPasswordForm_resetCode" class="modal-form-label2">Reset Code</label>
              </div>
              <div class="col-5">
                <input type="text" class="form-control user-form-control modal-form-control" id="resetPasswordForm_resetCode" placeholder="######" formControlName="resetCode">
                <ng-container *ngIf="(resetPasswordFormSubmitted && resetPasswordForm?.controls.resetCode.invalid) || (resetPasswordForm?.dirty && resetPasswordForm?.controls.resetCode.touched && resetPasswordForm?.controls.resetCode.invalid)">
                  <label class="modal-validation-message">This field is required.</label>
                </ng-container>
              </div>
            </div>

            <div class="form-row">
              <div class="col-5 aligncentercontent">
                <label for="resetPassword_newPassword" class="modal-form-label2">New Password</label>
              </div>
              <div class="col-5">
                <input type="password" class="form-control user-form-control modal-form-control" id="resetPassword_newPassword" placeholder="New Password" formControlName="newPassword">
                <ng-container *ngIf="(resetPasswordFormSubmitted && resetPasswordForm?.controls.newPassword.invalid) || (resetPasswordForm?.dirty && resetPasswordForm?.controls.newPassword.touched && resetPasswordForm?.controls.newPassword.invalid)">
                  <label class="modal-validation-message">This field is required.</label>
                </ng-container>
              </div>
            </div>
            <div class="form-row">
              <div class="col-5 aligncentercontent">
                <label for="resetPassword_confirmPassword" class="modal-form-label2">Confirm Password</label>
              </div>
              <div class="col-5">
                <input type="password" class="form-control user-form-control modal-form-control" id="resetPassword_confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword">
                <ng-container *ngIf="(resetPasswordFormSubmitted && (resetPasswordForm?.errors?.mismatchedPasswords === true)) || (resetPasswordForm?.dirty && resetPasswordForm?.controls.confirmPassword.touched && (resetPasswordForm?.errors?.mismatchedPasswords === true))">
                  <label class="modal-validation-message">Passwords don't match.</label>
                </ng-container>
                <ng-container *ngIf="(resetPasswordFormSubmitted && (resetPasswordForm?.controls.confirmPassword.invalid)) || (resetPasswordForm?.dirty && resetPasswordForm?.controls.confirmPassword.touched && resetPasswordForm?.controls.confirmPassword.invalid)">
                  <label class="modal-validation-message">This field is required.</label>
                </ng-container>
              </div>
            </div>

          </div>
        </form>

        <div class="modal-footer">
          <button class="btn btn-primary btn-lg" (click)="onResetPasswordFormSubmit(resetPasswordForm)">Change Password</button>
          <button class="btn btn-warning btn-lg" data-dismiss="modal">Nevermind!</button>
        </div>
        <div class="row modal-under-footer">
          <p>Didn't receive a code? <a href="javascript:void(0)" (click)="sendResetCodeAgain()">Send again</a></p>
        </div>

      </div>
      <!----End Mod Bod---->

    </div>
  </div>
</div>



<div class="modal fade bd-example" id="adminPasswordResetModal" role="dialog" tabindex="-1" aria-labelledby="adminPasswordResetModal" aria-hidden="true" >
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Request a Password Reset</h4>
      </div>
      <!---modal body---->
      <div class="modal-body">
        <div class="form-row">
          <div class="aligncentercontent">
            <label class="modal-form-label2">Would you like to request a <b>password reset</b>?</label>
          </div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary btn-lg" data-dismiss="modal">Yes!</button>
          <button class="btn btn-warning btn-lg" data-dismiss="modal">Nevermind!</button>
        </div>

      </div>
      <!----End Mod Bod---->

    </div>
  </div>
</div>
