<div *ngIf="!isCardLoading; else cardLoading">
  <div class="row">
    <div class="user-form-container col-12">
      <form>
        <div *ngIf="isUserDataRetrieved; else placeholderForm">
          <div class="form-row">
            <div class="col-10">
              <label class="form-label">Choose which fields you want to set as public.</label><br>
              <h5 class="important-note-label">IMPORTANT NOTE: </h5><h5 class="important-note-text">If you set a field as public, this information will be visible to anyone using this app. The System Administrator can view your information even if it is not set as Public.</h5>

            </div>
          </div>
          <div class="form-row">
            <div class="col-8 aligncentercontent">
              <label for="privacy_email" class="form-label">Email</label>
            </div>
            <div class="col-2 toggle-col">
              <mat-slide-toggle [(ngModel)]="fieldPrivacyList.email" name="privacy_email" (change)="toggle('email')" id="privacy_email" [color]="color">
                <div *ngIf="!fieldPrivacyList.email; else toggledPublic">Private</div>
              </mat-slide-toggle>
            </div>
          </div>
          <div class="form-row">
            <div class="col-8 aligncentercontent">
              <label for="privacy_phone" class="form-label">Phone</label>
            </div>
            <div class="col-2 toggle-col">
              <mat-slide-toggle [(ngModel)]="fieldPrivacyList.phone" name="privacy_phone" (change)="toggle('phone')" id="privacy_phone" [color]="color">
                <div *ngIf="!fieldPrivacyList.phone; else toggledPublic">Private</div>
              </mat-slide-toggle>
            </div>
          </div>
          <div class="form-row">
            <div class="col-8 aligncentercontent">
              <label for="privacy_birthdate" class="form-label">Date of Birth</label>
            </div>
            <div class="col-2 toggle-col">
              <mat-slide-toggle [(ngModel)]="fieldPrivacyList.birthdate" name="privacy_birthdate" (change)="toggle('birthdate')" id="privacy_birthdate" [color]="color">
                <div *ngIf="!fieldPrivacyList.birthdate; else toggledPublic">Private</div>
              </mat-slide-toggle>
            </div>
          </div>
          <div class="form-row">
            <div class="col-8 aligncentercontent">
              <label for="privacy_gender" class="form-label">Gender</label>
            </div>
            <div class="col-2 toggle-col">
              <mat-slide-toggle [(ngModel)]="fieldPrivacyList.gender" name="privacy_gender" (change)="toggle('gender')" id="privacy_gender" [color]="color">
                <div *ngIf="!fieldPrivacyList.gender; else toggledPublic">Private</div>
              </mat-slide-toggle>
            </div>
          </div>


          <div class="form-row">
            <div class="col-12">
              <label class="form-label">Other Preferences</label><br>
              <!--            <h5 class="important-note-label">IMPORTANT NOTE: </h5><h5 class="important-note-text">If you set a field as public, this information will be visible to anyone using this app. The System Administrator can view your information even if it is not set as Public.</h5>-->

            </div>
          </div>
          <div class="form-row">
            <div class="col-8 aligncentercontent">
              <label for="privacy_share_point_awards" class="form-label">Point awards shared in the app's feed</label>
            </div>
            <div class="col-2 toggle-col">
              <mat-slide-toggle [(ngModel)]="fieldPrivacyList.sharePointAwards" name="privacy_share_point_awards" (change)="toggle('sharePointAwards')" id="privacy_share_point_awards" [color]="color">
                <div *ngIf="!fieldPrivacyList.sharePointAwards; else toggledYes">No</div>
              </mat-slide-toggle>
            </div>
          </div>
          <div class="form-row">
            <div class="col-8 aligncentercontent">
              <label for="privacy_points_visible" class="form-label">Others can view your awarded points</label>
            </div>
            <div class="col-2 toggle-col">
              <mat-slide-toggle [(ngModel)]="fieldPrivacyList.pointsVisible" name="privacy_points_visible" (change)="toggle('pointsVisible')" id="privacy_points_visible" [color]="color">
                <div *ngIf="!fieldPrivacyList.pointsVisible; else toggledYes">No</div>
              </mat-slide-toggle>
            </div>
          </div>
          <div class="form-row">
            <div class="col-8 aligncentercontent">
              <label for="privacy_achievements_visible" class="form-label">Others can view your achievements</label>
            </div>
            <div class="col-2 toggle-col">
              <mat-slide-toggle [(ngModel)]="fieldPrivacyList.achievementsVisible" name="privacy_achievements_visible" (change)="toggle('achievementsVisible')" id="privacy_achievements_visible" [color]="color">
                <div *ngIf="!fieldPrivacyList.achievementsVisible; else toggledYes">No</div>
              </mat-slide-toggle>
            </div>
          </div>
        </div>

        <ng-template #placeholderForm>
          <div class="form-row">
            <div class="col-10">
              <label class="form-label">Choose which fields you want to set as public.</label><br>
              <h5 class="important-note-label">IMPORTANT NOTE: </h5><h5 class="important-note-text">If you set a field as public, this information will be visible to anyone using this app. The System Administrator can view your information even if it is not set as Public.</h5>

            </div>
          </div>
          <div class="form-row">
            <div class="col-8 aligncentercontent">
              <label for="privacy_email" class="form-label">Email</label>
            </div>
            <div class="col-2 toggle-col">
              <mat-slide-toggle [color]="color">
                <div>Private</div>
              </mat-slide-toggle>
            </div>
          </div>
          <div class="form-row">
            <div class="col-8 aligncentercontent">
              <label for="privacy_phone" class="form-label">Phone</label>
            </div>
            <div class="col-2 toggle-col">
              <mat-slide-toggle [color]="color">
                <div>Private</div>
              </mat-slide-toggle>
            </div>
          </div>
          <div class="form-row">
            <div class="col-8 aligncentercontent">
              <label for="privacy_birthdate" class="form-label">Date of Birth</label>
            </div>
            <div class="col-2 toggle-col">
              <mat-slide-toggle [color]="color">
                <div>Private</div>
              </mat-slide-toggle>
            </div>
          </div>
          <div class="form-row">
            <div class="col-8 aligncentercontent">
              <label for="privacy_gender" class="form-label">Gender</label>
            </div>
            <div class="col-2 toggle-col">
              <mat-slide-toggle [color]="color">
                <div>Private</div>
              </mat-slide-toggle>
            </div>
          </div>

          <div class="form-row">
            <div class="col-12">
              <label class="form-label">Other Preferences</label><br>
              <!--            <h5 class="important-note-label">IMPORTANT NOTE: </h5><h5 class="important-note-text">If you set a field as public, this information will be visible to anyone using this app. The System Administrator can view your information even if it is not set as Public.</h5>-->

            </div>
          </div>
          <div class="form-row">
            <div class="col-8 aligncentercontent">
              <label for="privacy_share_point_awards" class="form-label">Point awards shared in the app's feed</label>
            </div>
            <div class="col-2 toggle-col">
              <mat-slide-toggle [color]="color">
                <div>Yes</div>
              </mat-slide-toggle>
            </div>
          </div>
          <div class="form-row">
            <div class="col-8 aligncentercontent">
              <label for="privacy_points_visible" class="form-label">Others can view your awarded points</label>
            </div>
            <div class="col-2 toggle-col">
              <mat-slide-toggle [color]="color">
                <div>Yes</div>
              </mat-slide-toggle>
            </div>
          </div>
          <div class="form-row">
            <div class="col-8 aligncentercontent">
              <label for="privacy_achievements_visible" class="form-label">Others can view your achievements</label>
            </div>
            <div class="col-2 toggle-col">
              <mat-slide-toggle [color]="color">
                <div>Yes</div>
              </mat-slide-toggle>
            </div>
          </div>
        </ng-template>

      </form>
      <button type="button" class="btn btn-primary" (click)="onFieldPrivacyFormSubmit(fieldPrivacyForm)">Save Changes</button>

    </div>
  </div>
</div>

<ng-template #toggledPublic>Public</ng-template>
<ng-template #toggledYes>Yes</ng-template>

<ng-template #cardLoading>
  <ngx-spinner
    name="privacy-settings-spinner"
    [fullScreen]="true"
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="pacman"
  >
    <p class="loadingstyle">Loading...</p>
  </ngx-spinner>
</ng-template>
