

<button id="alert-modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#alert" hidden>Alert </button>
<div class="modal fade bd-example-modal-lg" id="alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button id="button_close" type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
        <h4 class="title title-up">Special Alert</h4>
      </div>
      <div class="modal-body">
        <p>{{AlertDetail.description}}
        </p>
      </div>
      <div class="modal-footer" style="align-items: center;">
        <!-- <button type="button" class="btn btn-default">Nice Button</button> -->
        <button id="alert-button" type="button" class="btn btn-danger" (click)="shownext(AlertDetail)">Next</button>
      </div>
    </div>
  </div>
</div>

<!--


&lt;!&ndash;<button id="alert-modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#alert" hidden>Alert </button>&ndash;&gt;
<div class="modal fade bd-example-modal-lg" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button id="button_close" type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
        <h4 class="title title-up">Special Alert</h4>
      </div>
      <div class="modal-body">
        <p>{{currentAlert?.description}}
        </p>
      </div>
      <div class="modal-footer" style="align-items: center;">
        &lt;!&ndash; <button type="button" class="btn btn-default">Nice Button</button> &ndash;&gt;
        <button id="alert-button" type="button" class="btn btn-danger" (click)="showNext(currentAlert)">Next</button>
      </div>
    </div>
  </div>
</div>
-->
