.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

#user-profile {
  width:700px;
  clear: both;
}

#user-profile-card {
  width:700px;
  clear: both;
}

#profile-card {
  width: 300px;
  float: left;
  padding: 20px;
}

#achievement-card {
  width: 300px;
  float: right;
  padding: 20px;
}

.profile-card {
  background-color: coral;
}

/*
#gift-points {
  width: 600px;
  position: absolute;
  top: 500px;
  padding: 20px;
}
*/

#gift-points {
  width: 94%;
  clear: both;
  padding-left: 3%;
  padding-right: 3%;
}
