<div class="modal fade" id="timeOutModal" role="dialog" tabindex="-1" aria-labelledby="timeOutModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Session Timeout</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!---modal body---->
      <div class="modal-body">
        <div *ngIf="(timeout - timerCount) > 0">
          <p>Are you still there? Your session has been idle for {{idle}} seconds...</p>
          <p>Please click the Continue button in the next {{timeout - timerCount}} seconds to keep your session alive...</p>
        </div>
        <div *ngIf="(timeout - timerCount) === 0">
          <p>Your session has ended. To continue, please log back in again</p>
        </div>

      </div>
      <!----End Mod Bod---->
      <div class="modal-footer" *ngIf="(timeout - timerCount) > 0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onResetTimer()">Continue</button>
      </div>
      <div class="modal-footer" *ngIf="(timeout - timerCount) === 0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onLogout()">Login</button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  name="user-component-spinner"
  [fullScreen]="true"
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  type="pacman"
>
  <p class="loading">Loading...</p>
</ngx-spinner>


<router-outlet></router-outlet>

<!--<div class="wrapper-user">
  <div class="wrapper-user-body">
  </div>
  <div class="wrapper-user-footer">
  </div>
</div>-->
<!--<div class="footer">-->
<app-footer></app-footer>
<div class="col-md-12" style="text-align: center;">
  <div class="credits" style="margin-top: 15px;"> © 2019 Pineapple Points, all rights reserved. Made with 🍍 for a better web. </div>
</div>
<!--</div>-->
