.card-text2{
  text-align: center;
}
.card-header2{
  text-align: center;
}

.card-footer2{

  text-align: center;
}

.card-text3{
  text-align: center;
}
.card-header3{
  text-align: center;
}

.card-footer3{

  text-align: center;
}

.form-row{
  color: black;
}

.file {
  visibility: hidden;
  position: absolute;
}

@media (max-width: 575.98px) {
  .modal.show .modal-dialog {
    transform: translate(0, 0) !important;
  }
}

@media (max-width: 767.98px) {
  .modal.show .modal-dialog {
    transform: translate(0, 0) !important;
  }
}

@media screen and (max-width: 991px) {
  .modal.show .modal-dialog {
    transform: translate(0, 0) !important;
  }
}

.pointItem-modal-body {
  overflow-scrolling: auto;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 600px
}

.pointItem-form-container {
  margin-right: 20px;
}

.removed {
  text-decoration: line-through;
  background-color: rgba(155,155,155,0.98);
}

.l1 {
  text-align: left;
  color:#32325d;

}

.l2 {
  text-align: left;
  color:#32325d;

}

.form-row {

  text-align: left;
}

.form-control {
  color: black;
}

.form-check-label {
  color: black !important;
}

.validation-message {
  color: #e14eca;
  font-size: 14px;
  font-weight: bold;
}

.form-label {
  color: black !important;
}

.pointItem-form-control {
  margin-bottom: 5px !important;
}

.card label {
  text-align: left;
}
