.section-coins {
  margin-top: 100px;
}

.wrapper {

}

.break {
  height: 0;
}

@media (max-width: 1199px) {
  .break {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .flex-container {
    place-content: center;
  }
}

@media screen and (min-width: 1199px) {
  .flex-container {
    place-content: stretch space-between;
  }
}

/*@media screen and (min-width: 1199px) {
  .break {
    flex-basis: 100%;
  }
}*/

.content-card {
  min-width: 345px;
  max-width: 345px;
}

@media (width: 1280px) {
  .content-card {
    min-width: 345px;
    max-width: 345px;
  }
}

@media (max-width: 575.98px) {

  .content-card {
    min-width: 345px;
    max-width: 345px;
  }
}

@media (max-width: 767.98px) {

  .content-card {
    min-width: 345px;
    max-width: 345px;
  }
}

@media screen and (max-width: 991px) {
  .content-card {
    min-width: 345px;
    max-width: 345px;
  }
}
