
<div class="index-page" >

  <app-navigation></app-navigation>
  <div class="wrapper">

    <section class="section section-lg section-coins">

      <img src="../../../assets/img/path3.png" class="path">
      <div class="container align-items-center">

        <div class="row">
          <!-- Profile Card -->
          <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto" id="profile-card">
            <div *ngIf="!(this.currentUserQuery.selectAll() | async)[0]">
              <app-placeholder-card></app-placeholder-card>
            </div>
            <div *ngIf="(this.currentUserQuery.selectAll() | async)[0]?.securityRole.Id === 1">
              <app-profile-card></app-profile-card>
            </div>
            <div *ngIf="(this.currentUserQuery.selectAll() | async)[0]?.securityRole.Id === 2">
              <app-profile-card-manager></app-profile-card-manager>
            </div>
          </div>
          <div class="col-lg-4 ml-auto mr-auto" id="progress-card">
            <app-progress-card></app-progress-card>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto" id="leaderboard-card">
            <app-leaderboard-card></app-leaderboard-card>
          </div>
          <!-- END Profile Card -->

          <div *ngIf="(this.currentUserQuery.selectAll() | async)[0]?.securityRole.Id === 2"
               class="col-lg-12 col-md-6 col-sm-10 ml-auto mr-auto">
            <app-gift-points></app-gift-points>
          </div>
          <div class="col-lg-12 col-md-6 col-sm-10 ml-auto mr-auto">
            <app-feed></app-feed>
          </div>
        </div>
      </div>
    </section>

<!--    <app-footer></app-footer>-->
    <app-alert-card></app-alert-card>
  </div>

</div>


