<div class="container align-items-center" style="min-height: 600px; max-height: 600px">


  <!--    <div class="row">
        <div class="col-md-12 text-center">
        </div>
      </div>-->



  <div *ngFor="let family of keys; let i = index" class="row justify-content-md-center">

    <div class="col-10" style="text-align: center">
      {{family}}<br>
      **********************
    </div>

    <br>
    <div *ngFor="let achievement of (achievementQuery.getAchievementFamily(family) | async); let i = index" class="col-10 achievlist">

      <div *ngIf="(achievement.progressStatus === 'complete')" class="row justify-content-md-center">
        <div class="col-2" style="line-height: 100px; height: 100px; text-align: center">
          <i *ngIf="achievement.level === 1" class="fas fa-star" style="font-size: 40pt; color: #a88218; vertical-align: middle; display: inline-block; line-height: 1.5"></i>
          <i *ngIf="achievement.level === 2" class="fas fa-star" style="font-size: 40pt; color: #c3c3c3; vertical-align: middle; display: inline-block; line-height: 1.5"></i>
          <i *ngIf="achievement.level === 3" class="fas fa-star" style="font-size: 40pt; color: #ffef13; vertical-align: middle; display: inline-block; line-height: 1.5"></i>
        </div>
        <div class="col-8">
          <span >{{achievement.name}}</span><br>
          <span >{{achievement.description}}</span>
          <div class="progress-container progress-success"
               matTooltipPosition="above"
               [matTooltip]="achievement.description">

            <div class="progress glow">
              <div class="progress-bar progress-bar-warning"
                   role="progressbar"
                   aria-valuenow="0"
                   aria-valuemin="0"
                   aria-valuemax="100"
                   [ngStyle]="{'width': (achievement.progress / achievement.cost) * 100 + '%'}">
              </div>
            </div>
            <div class="progress-value glow" style="text-align: center">
              {{achievement.progress}} / {{achievement.cost}}
              <br>
              <button type="button" class="btn btn-success glow" (click)="acknowledgeAchievement(achievement)">COMPLETE</button>
            </div>
          </div>
        </div>
        <div class="col-2" style="line-height: 100px; height: 100px; text-align: center; padding: 0">
          <div *ngFor="let feature of (features$ | async)">
            <img *ngIf="feature.achievementId === achievement.achievementId" src="../../../assets/img/Treasure%20Chest-595b40b85ba036ed117dacb5.svg" />
          </div>
        </div>
      </div>

      <div *ngIf="(achievement.progressStatus === 'complete acknowledged')" class="row justify-content-md-center">
        <div class="col-2" style="line-height: 100px; height: 100px; text-align: center">
          <i *ngIf="achievement.level === 1" class="fas fa-star" style="font-size: 40pt; color: #a88218; vertical-align: middle; display: inline-block; line-height: 1.5"></i>
          <i *ngIf="achievement.level === 2" class="fas fa-star" style="font-size: 40pt; color: #c3c3c3; vertical-align: middle; display: inline-block; line-height: 1.5"></i>
          <i *ngIf="achievement.level === 3" class="fas fa-star" style="font-size: 40pt; color: #ffef13; vertical-align: middle; display: inline-block; line-height: 1.5"></i>
        </div>
        <div class="col-8">
          <span >{{achievement.name}}</span><br>
          <span >{{achievement.description}}</span>
          <div class="progress-container progress-success"
               matTooltipPosition="above"
               [matTooltip]="achievement.description">

            <div class="progress">
              <div class="progress-bar progress-bar-warning"
                   role="progressbar"
                   aria-valuenow="0"
                   aria-valuemin="0"
                   aria-valuemax="100"
                   [ngStyle]="{'width': (achievement.progress / achievement.cost) * 100 + '%'}">
              </div>
            </div>
            <div style="text-align: center">
              {{achievement.progress}} / {{achievement.cost}}
            </div>
          </div>
        </div>
        <div class="col-2" style="line-height: 100px; height: 100px; text-align: center; padding: 0">
          <div *ngFor="let feature of (features$ | async)">
            <img *ngIf="feature.achievementId === achievement.achievementId" src="../../../assets/img/Treasure%20Chest-595b40b85ba036ed117dacb5.svg" />
          </div>
        </div>
      </div>

      <div *ngIf="(achievement.progressStatus === 'in progress')" class="row justify-content-md-center">

        <div class="col-2" style="line-height: 100px; height: 100px; text-align: center">
          <i *ngIf="achievement.level === 1" class="fas fa-star" style="font-size: 40pt; color: #a88218; vertical-align: middle; display: inline-block; line-height: 1.5"></i>
          <i *ngIf="achievement.level === 2" class="fas fa-star" style="font-size: 40pt; color: #c3c3c3; vertical-align: middle; display: inline-block; line-height: 1.5"></i>
          <i *ngIf="achievement.level === 3" class="fas fa-star" style="font-size: 40pt; color: #ffef13; vertical-align: middle; display: inline-block; line-height: 1.5"></i>
        </div>
        <div class="col-8">
          <span >{{achievement.name}}</span><br>
          <span >{{achievement.description}}</span>
          <div class="progress-container progress-primary"
               matTooltipPosition="above"
               [matTooltip]="achievement.description">

            <div class="progress">
              <div class="progress-bar progress-bar-warning"
                   role="progressbar"
                   aria-valuenow="0"
                   aria-valuemin="0"
                   aria-valuemax="100"
                   [ngStyle]="{'width': (achievement.progress / achievement.cost) * 100 + '%'}">
              </div>
            </div>
            <div style="text-align: center">
              {{achievement.progress}} / {{achievement.cost}}
            </div>
          </div>
        </div>
        <div class="col-2" style="line-height: 100px; height: 100px; text-align: center; padding: 0">
          <div *ngFor="let feature of (features$ | async)">
            <img *ngIf="feature.achievementId === achievement.achievementId" src="../../../assets/img/Treasure%20Chest-595b40b85ba036ed117dacb5.svg" />
          </div>
        </div>
      </div>

      <div *ngIf="(achievement.progressStatus === 'not started')" class="row justify-content-md-center">
        <div class="col-2" style="line-height: 100px; height: 100px; text-align: center">
          <i *ngIf="achievement.level === 1" class="fas fa-star" style="font-size: 40pt; color: #a88218; vertical-align: middle; display: inline-block; line-height: 1.5"></i>
          <i *ngIf="achievement.level === 2" class="fas fa-star" style="font-size: 40pt; color: #c3c3c3; vertical-align: middle; display: inline-block; line-height: 1.5"></i>
          <i *ngIf="achievement.level === 3" class="fas fa-star" style="font-size: 40pt; color: #ffef13; vertical-align: middle; display: inline-block; line-height: 1.5"></i>
        </div>
        <div class="col-8">
          <span>Unknown Achievement</span>
          <div class="progress-container progress-primary"
               matTooltipPosition="above"
               [matTooltip]="achievement.description">

            <div class="progress">
              <div class="progress-bar progress-bar-warning"
                   role="progressbar"
                   aria-valuenow="0"
                   aria-valuemin="0"
                   aria-valuemax="100"
                   [ngStyle]="{'width': 0 + '%'}">
              </div>
            </div>
          </div>
        </div>
        <div class="col-2" style="line-height: 100px; height: 100px; text-align: center; padding: 0">
          <div *ngFor="let feature of (features$ | async)" >
            <div *ngIf="feature.achievementId === achievement.achievementId"
                 matTooltipPosition="above"
                 [matTooltip]="feature.unlockDescription">
              <img src="../../../assets/img/Treasure%20Chest-595b40b85ba036ed117dacb5.svg" />
            </div>

          </div>
        </div>
      </div>

      <br>
    </div>

  </div>






</div>
