<div class="container align-items-center" style="min-height: 400px; max-height: 400px">

  <div>
    <div class="row">
      <div class="col-md-12 text-center">
      </div>
    </div>

    <div class="row" style="overflow-scrolling: auto">

<!--      <div *ngFor="let family of keys">
        {{family}}
      </div>-->

      <div *ngFor="let achievement of (achievements$ | async); let i = index" class="col-6" style="overflow-scrolling: auto">
        <div *ngIf="(achievement.progressStatus === 'complete') || (achievement.progressStatus === 'complete acknowledged')"
             class="progress-container progress-success"
             style="cursor: pointer; padding-left: 15px; padding-right: 15px"
             matTooltipPosition="above"
             [matTooltip]="achievement.description">

          <!--                [appAwesomeTooltipDirective]="{'type': 'achiev', 'data': achievement.description}"-->

          <span class="progress-badge glow">{{achievement.name}}</span>
          <div class="progress">
            <div class="progress-bar progress-bar-warning"
                 role="progressbar"
                 aria-valuenow="0" aria-valuemin="0"
                 aria-valuemax="100"
                 [ngStyle]="{'width': (achievement.progress / achievement.cost) * 100 + '%'}">
                    <span class="progress-value glow"
                          style="padding-left: 15px; padding-right: 15px">
                      {{((achievement.progress / achievement.cost) * 100) | number:'1.0-0'}}%
                    </span>
            </div>
          </div>
          <span *ngFor="let star of achievementQuery.getAchievementFamilyCount(achievement)">
                  <i *ngIf="star.progressStatus === 'complete' || star.progressStatus === 'complete acknowledged'" class="fas fa-star"></i>
                  <i *ngIf="star.progressStatus === 'in progress' || star.progressStatus === 'not started'" class="far fa-star"></i>
                </span>
        </div>

        <div *ngIf="(achievement.progressStatus === 'in progress') || (achievement.progressStatus === 'not started')"
             class="progress-container progress-primary"
             style="padding-left: 15px; padding-right: 15px"
             matTooltipPosition="above"
             [matTooltip]="achievement.description">
          <!--                   [appAwesomeTooltipDirective]="{'type': 'achiev', 'data': achievement.description}">-->
          <span class="progress-badge">{{achievement.name}}</span>
          <div class="progress">
            <div class="progress-bar progress-bar-warning"
                 role="progressbar"
                 aria-valuenow="0"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 [ngStyle]="{'width': (achievement.progress / achievement.cost) * 100 + '%'}">
                    <span class="progress-value"
                          style="padding-left: 15px; padding-right: 15px">
                      {{((achievement.progress / achievement.cost) * 100) | number:'1.0-0'}}%
                    </span>
            </div>
          </div>
          <span *ngFor="let star of achievementQuery.getAchievementFamilyCount(achievement)">
                  <i *ngIf="star.progressStatus === 'complete' || star.progressStatus === 'complete acknowledged'" class="fas fa-star"></i>
                  <i *ngIf="star.progressStatus === 'in progress' || star.progressStatus === 'not started'" class="far fa-star"></i>
                </span>
        </div>
        <br>
      </div>
    </div>

  </div>

</div>
