.glow {
  font-size: 16px;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  text-align: center;
  //-webkit-animation: glow 1s ease-in-out infinite alternate;
  //-moz-animation: glow 1s ease-in-out infinite alternate;
  //animation: glow 1s ease-in-out infinite alternate;
}

/*
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
*/

.achievlist:hover {
  background-color: rgba(63, 51, 112, 0.81);
}

.achievlist {
  border-style: solid;
  border-color: #dd9d22;
  border-width: medium;
  background-color: #412584;
  margin-bottom: 5px;
  border-radius: 25px;
}


.max-height-600 {
  max-height: 600px;
}

.star-col {
  //line-height: 100px;
  //height: 100px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center
}

.award-col {
  line-height: 100px;
  height: 100px;
  text-align: center;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;

}

.award-img {
  max-width: 100%;
  max-height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.bronze-star {
  font-size: 3em;
  color: #a88218;
  vertical-align: middle;
  display: inline-block;
  line-height: 1.5;
  text-shadow: 0 0 20px #2196F3, 0 0 0px #bdad1f;
  -webkit-text-stroke-color: #E1BEE7;
  -webkit-text-stroke-width: thin;
}

.silver-star {
  font-size: 3em; color: #c3c3c3; vertical-align: middle; display: inline-block; line-height: 1.5;
  text-shadow: 0 0 20px #2196F3, 0 0 0px #bdad1f;
  -webkit-text-stroke-color: #E1BEE7;
  -webkit-text-stroke-width: thin;
}

.gold-star {
  font-size: 3em; color: #ffef13; vertical-align: middle; display: inline-block; line-height: 1.5;
  text-shadow: 0 0 20px #2196F3, 0 0 0px #bdad1f;
  -webkit-text-stroke-color: #E1BEE7;
  -webkit-text-stroke-width: thin;
}

.scroll-container {
  height: 540px
}
