/* Change autocomplete styles in WebKit */
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
*/

/*.perfect-scrollbar-dark {
  perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-bottom) .ps-indicator-bottom {
    opacity: 1;
    background: linear-gradient(to top,  rgb(31, 34, 81) 0%,  rgba(255, 255, 255, 0) 100%) !important;
    min-height: 50px !important;
  }


  perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-top) .ps-indicator-top {
    opacity: 1;
    background: linear-gradient(to bottom,  rgb(31, 34, 81) 0%,  rgba(255, 255, 255, 0) 100%) !important;
    min-height: 50px !important;
  }

  perfect-scrollbar > .ps.ps--scrolling-y > .ps__rail-y,
  perfect-scrollbar > .ps.ps--scrolling-x > .ps__rail-x {
    opacity: 0.9;

    background-color: #eee0 !important;
  }

  .ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
    background-color: #eee0 !important;
    opacity: 0.9;
  }
}*/

perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-bottom) .ps-indicator-bottom {
  opacity: 1;
  background: linear-gradient(to top,  rgb(31, 34, 81) 0%,  rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}


perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-top) .ps-indicator-top {
  opacity: 1;
  background: linear-gradient(to bottom,  rgb(31, 34, 81) 0%,  rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}

perfect-scrollbar > .ps.ps--scrolling-y > .ps__rail-y,
perfect-scrollbar > .ps.ps--scrolling-x > .ps__rail-x {
  opacity: 0.9;

  background-color: #eee0 !important;
}

.ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
  background-color: #eee0 !important;
  opacity: 0.9;
}



#notificationModal > div > div > div.modal-body.modalclass > perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-bottom) .ps-indicator-bottom {
  opacity: 1;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}


#notificationModal > div > div > div.modal-body.modalclass > perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-top) .ps-indicator-top {
  opacity: 1;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}

#notificationModal > div > div > div.modal-body.modalclass > perfect-scrollbar > .ps.ps--scrolling-y > .ps__rail-y,
#notificationModal > div > div > div.modal-body.modalclass > perfect-scrollbar > .ps.ps--scrolling-x > .ps__rail-x {
  opacity: 0.9;

  background-color: #eee0 !important;
}

#notificationModal > div > div > div.modal-body.modalclass > perfect-scrollbar .ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
  background-color: #eee0 !important;
  opacity: 0.9;
}


//#notificationModal > div > div > div.modal-body.modalclass > app-notifications > div > div:nth-child(3) > perfect-scrollbar
#notificationModal > div > div > div.modal-body.modalclass > app-notifications > div > div:nth-child(3) > perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-bottom) .ps-indicator-bottom {
  opacity: 1;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}

#notificationModal > div > div > div.modal-body.modalclass > app-notifications > div > div:nth-child(3) > perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-top) .ps-indicator-top {
  opacity: 1;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}

#notificationModal > div > div > div.modal-body.modalclass > app-notifications > div > div:nth-child(3) > perfect-scrollbar .ps.ps--scrolling-y > .ps__rail-y,
#notificationModal > div > div > div.modal-body.modalclass > app-notifications > div > div:nth-child(3) > perfect-scrollbar .ps.ps--scrolling-x > .ps__rail-x {
  opacity: 0.9;

  background-color: #eee0 !important;
}

#notificationModal > div > div > div.modal-body.modalclass > app-notifications > div > div:nth-child(3) > perfect-scrollbar .ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
  background-color: #eee0 !important;
  opacity: 0.9;
}

#managePurchaseApproversModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-bottom) .ps-indicator-bottom {
  opacity: 1;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}

#managePurchaseApproversModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-top) .ps-indicator-top {
  opacity: 1;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}

#managePurchaseApproversModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar .ps.ps--scrolling-y > .ps__rail-y,
#managePurchaseApproversModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar .ps.ps--scrolling-x > .ps__rail-x {
  opacity: 0.9;

  background-color: #eee0 !important;
}

#managePurchaseApproversModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar .ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
  background-color: #eee0 !important;
  opacity: 0.9;
}



#addUserModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-bottom) .ps-indicator-bottom {
  opacity: 1;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}

#addUserModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-top) .ps-indicator-top {
  opacity: 1;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}

#addUserModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar .ps.ps--scrolling-y > .ps__rail-y,
#addUserModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar .ps.ps--scrolling-x > .ps__rail-x {
  opacity: 0.9;

  background-color: #eee0 !important;
}

#addUserModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar .ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
  background-color: #eee0 !important;
  opacity: 0.9;
}

#editUserModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-bottom) .ps-indicator-bottom {
  opacity: 1;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}

#editUserModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-top) .ps-indicator-top {
  opacity: 1;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}

#editUserModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar .ps.ps--scrolling-y > .ps__rail-y,
#editUserModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar .ps.ps--scrolling-x > .ps__rail-x {
  opacity: 0.9;

  background-color: #eee0 !important;
}

#editUserModal > div > div > div.modal-body.user-modal-body > perfect-scrollbar .ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
  background-color: #eee0 !important;
  opacity: 0.9;
}

.mat-tooltip {
  font-size: 16px;
  white-space: pre-line !important;
}



#point-items-scroll.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-bottom) .ps-indicator-bottom {
  opacity: 1;
  background: linear-gradient(to top,  #3f3274 0%,  rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}


#point-items-scroll.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-top) .ps-indicator-top {
  opacity: 1;
  background: linear-gradient(to bottom,  #3f3274 0%,  rgba(255, 255, 255, 0) 100%) !important;
  min-height: 50px !important;
}

#point-items-scroll > .ps.ps--scrolling-y > .ps__rail-y,
#point-items-scroll > .ps.ps--scrolling-x > .ps__rail-x {
  opacity: 0.9;

  background-color: #eee0 !important;
}

#point-items-scroll.ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
  background-color: #eee0 !important;
  opacity: 0.9;
}

/* Set the tooltip Z index to be above modals */
.cdk-overlay-container {
  z-index: 1051 !important;
}

/*
.notification-modal {
  z-index: 1040 !important;
}

.notification-details-modal {
  z-index: 1100 !important;
}
*/

/*.mat-tooltip.tooltip {
  font-size: 20px;
}*/

/* for report */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
