.profile-header {
  margin-top: 100px
}

.card {
  margin-bottom: 20px;
}

.card.card-coin img {
  width: 50px;
}

.card-header {
  margin-top: 0 !important;
  /*margin-bottom: 0 !important;*/
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.card-header:first-child {
  border-radius: inherit;
}

.card-header-body {
  /*padding-bottom: auto;*/
  /*padding-top: auto;*/
}

.profile-body {
  padding-left: 20px;
}

/*#avatar {
  margin-right: 25px;
  margin-left: 25px;
}*/

.card-coin {
  border: 0;
  max-height: 110px;
  min-height: 110px;
}

.store-title {
  font-weight: 100;
  font-size: 3em;
}

.store-title-sm {
  font-weight: 100;
  font-size: 1.25em;
}

div.card.card-coin.card-plain.card-custom {
  background-color: #674ba580;
}

div.card {
  background-color: rgba(167,53,43,0);
  margin-bottom: 20px;
}

@media (max-width: 575.98px) {
  /*  .section-coins {
      margin-top: 100px !important;
    }*/
  .card.card-coin {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .card {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  /*  .section-coins {
      margin-top: 100px !important;
    }*/

  .card.card-coin {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .card {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 991px) {
  /*  .section-coins {
      margin-top: 100px;
    }*/
  .card.card-coin {
    /*margin-top: 0px;*/
    margin-bottom: 0px;
  }

  .card {
    margin-bottom: 20px;
  }
}


.points-tooltip {
  white-space: pre-line !important;
}

ul.nobullets {
  font-size: 20px;
  font-weight: 200;
  padding: 0px;
  list-style-type: none;
}

li {
  padding-top: 10px;
  padding-left: 20px;
  cursor: pointer;
  border-left: transparent;
  border-left-style: solid;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.11);
}

li.toggled {
  border-left: #e418c4;
  border-left-style: solid;
}


.wrapper-width{
  max-width: 935px;
}

.loadingstyle{
  font-size: 20px;
  color: white;
}

.textl{
  text-align: left;
}

.aligncentercontent{
  align-content: center;
}

.margintop{
  margin-top: 10px;
}


.profile-points-section {
  margin-top: auto;
  margin-bottom: auto;
  /*margin-top: 30px;*/
  /*font-size: 16px;*/
}

.profile-details {
  white-space: nowrap;
  overflow: hidden;
}

.red{
  color: red;
}

.black{
  color: black;
}


.modal-custom {
  border-style: solid;
  border-color: #5e72e4;
  border-width: 5px;
  border-radius: 25px;
}

.modal.show .modal-dialog {
  transform: translate(0, 0%);
}



.padding-bottom-0 {
  padding-bottom: 0;
}

.purchase-request-modal {
  max-height: 750px;
}

.purchase-request-modal-sm {
  max-height: 700px;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
  border-radius: inherit;
}

.modalclass{
  overflow-scrolling: auto;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 0px;
}


.tab-item {
  cursor: pointer;
  color: #b350f2
}

.tab-item:hover {
  color: #bd3db8;
  border-bottom-color: #b350f2;
  border-bottom-style: solid;
}

.toggled {
  border-bottom-color: #b350f2;
  border-bottom-style: solid;
}

.tab-row {
  margin-bottom: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}
