
<div class="container align-items-center wrapper-width">
  <div class="card">
    <div class="card card-coin card-plain card-custom card-header">
      <div class="card-body card-header-body">
        <div class="row profile-body">
          <div class="col-8 text-left store-title">
            <span class="font-weight-bold">Pineapple Points</span> 🍍 Store
          </div>

          <div class="col-3 profile-points-section ml-4">
            <div [matTooltip]="'Points: ' + currentUser?.points + '&#13;Pending Balance: ' + currentUser?.pointsBalance"
                 matTooltipPosition="above">
              <div class="row">
                <div class="col-6">
                  <div class="mb-1 line-height-3 font-weight-200" >Points:</div>
                </div>
                <div class="col-4">
                  <div *ngIf="currentUser?.pointsBalance === 0; else pointsWithBalance">
                    <div class="mb-0">{{currentUser?.points}}</div>
                  </div>
                  <ng-template #pointsWithBalance >
                    <div *ngIf="currentUser?.points - currentUser?.pointsBalance"
                         class="mb-0 red"
                    >
                      {{currentUser?.points - currentUser?.pointsBalance}}
                    </div>

                  </ng-template>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <a href="javascript:void(0)" (click)="showPurchaseHistoryModal()">View Purchase History</a>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                <div *ngIf="currentUser?.securityRole.Id === 2">
                  <a href="javascript:void(0)" (click)="confirmStoreItemPurchaseRequest();" >Approve Purchase</a>
                </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>


<div class="modal fade modal-black" id="purchaseHistoryModal" role="dialog">
  <div class="modal-dialog modal-lg" role="document">

    <!-- Modal content-->
    <div class="modal-content purchase-request-modal modal-custom" >
      <div class="modal-header">
        <div class="row title-row">
          <h4 class="modal-title">Your Purchase History</h4>
        </div>
      </div>
      <!---modal body---->
      <div class="modal-body modalclass padding-bottom-0">

        <div class="content-row">
<!--          <perfect-scrollbar class="scroll-container perfect-scrollbar-dark" fxFlex="auto" [config]="config" [scrollIndicators]="true">-->
          <ng-container *ngIf="navigationService.purchaseHistoryModalActive">
            <app-purchase-history class="mx-auto" [inputUser]="navigationService.purchaseHistoryComponentInputUser" (clearInputUser)="clearPurchaseHistoryComponentInputUser($event)"></app-purchase-history>
          </ng-container>
<!--          </perfect-scrollbar>-->
        </div>

      </div>

      <!----End Mod Bod---->

    </div>
  </div>
</div>
