.card {
  margin-bottom: 20px;
}

.card.card-coin img {
  width: 50px;
}

.profile-body {
  padding-left: 20px;
}

/*#avatar {
  margin-right: 25px;
  margin-left: 25px;
}*/

.card-coin {
  border: 0;
  max-height: 110px;
  min-height: 110px;
}


div.card.card-coin.card-plain.card-custom {
  background-color: #674ba580;
}

div.card {
  background-color: rgba(167,53,43,0);
  margin-bottom: 20px;
}

@media (max-width: 575.98px) {
  /*  .section-coins {
      margin-top: 100px !important;
    }*/
  .card.card-coin {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .card {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  /*  .section-coins {
      margin-top: 100px !important;
    }*/

  .card.card-coin {
    margin-top: 0px;
    margin-bottom: 80px;
  }

  .card {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 991px) {
  /*  .section-coins {
      margin-top: 100px;
    }*/
  .card.card-coin {
    /*margin-top: 0px;*/
    margin-bottom: 0px;
  }

  .card {
    margin-bottom: 20px;
  }
}


.points-tooltip {
  white-space: pre-line !important;
}

ul.nobullets {
  font-size: 20px;
  font-weight: 200;
  padding: 0px;
  list-style-type: none;
}

li {
  padding-top: 10px;
  padding-left: 20px;
  cursor: pointer;
  border-left: transparent;
  border-left-style: solid;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.11);
}

li.toggled {
  border-left: #e418c4;
  border-left-style: solid;
}


.wrapperwidth{
  max-width: 935px;
}

.loadingstyle{
  font-size: 20px;
  color: white;
}

.textl{
  text-align: left;
}

.aligncentercontent{
  align-content: center;
}

.margintop{
  margin-top: 10px;
}

.avatar-col {
  padding: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

.profile-points-section {
  /*margin-top: 30px;*/
  /*font-size: 16px;*/
}

.profile-details {
  white-space: nowrap;
  overflow: hidden;
}

.red{
  color: red;
}

.black{
  color: black;
}
