
<div class="container align-items-center wrapperwidth">
  <div class="card">
    <div class="card card-coin card-plain card-custom">
      <div class="card-body">
        <div class="row profile-body">
          <div class="col-lg-2 col-md-2 col-sm-2 text-left avatar-col circle-container">
            <ng-container *ngIf="currentUser; else avatarLoading">
              <img [src]="currentUser.avatarResolvedUrl"
                   alt="Avatar"
                   class="img-center img-fluid rounded-circle"
                   id="avatar">

              <span *ngFor="let star of achievementQuery.getCompleteAchievements(); let i = index">
                        <i *ngIf="(i * 45) < 360" class="fas fa-star level-one deg{{getFirstDigit(i) * 45}} yellow"></i>
                        <i *ngIf="((i * 45) >= 360) && ((i * 45) < 720)" class="fas fa-star level-two deg{{getFirstDigit(i) * 45}} teal"></i>
                        <i *ngIf="(i * 45) >= 720" class="fas fa-star level-three deg{{getFirstDigit(i) * 45}} pink" ></i>
              </span>
            </ng-container>

            <ng-template #avatarLoading >
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAMLCwgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                   alt="Loading..."
                   class="img-center img-fluid rounded-circle"
                   id="avatarPlaceholder">
            </ng-template>


          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 text-left profile-details">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="mb-1 line-height-3 font-weight-200">Name:</div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <ng-container *ngIf="currentUser?.preferredName; else noPreferredName">
                  <div>{{currentUser?.preferredName}}</div>
                </ng-container>
                <ng-template #noPreferredName>
                  <h4 class="text-uppercase">{{currentUser?.firstName}} {{currentUser?.lastName}}</h4>
                </ng-template>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="mb-1 line-height-3 font-weight-200">Username:</div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <div>{{currentUser?.username}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="mb-1 line-height-3 font-weight-200">Department:</div>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-8">
                <div>{{currentUser?.department.Name}}</div>
              </div>
            </div>

          </div>

          <div class="col-lg-3 col-md-3 col-sm-3 profile-points-section">
            <!--<div [matTooltip]="'Points: ' + currentUser?.points + '&#13;Pending Balance: ' + currentUser?.pointsBalance"
                 matTooltipPosition="above">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="mb-1 line-height-3 font-weight-200" >Points:</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div *ngIf="currentUser?.pointsBalance === 0; else pointsWithBalance">
                    <div class="mb-0">{{currentUser?.points}}</div>
                  </div>
                  <ng-template #pointsWithBalance >
                    <div *ngIf="currentUser?.points - currentUser?.pointsBalance"
                         class="mb-0 red"
                    >
                      {{currentUser?.points - currentUser?.pointsBalance}}
                    </div>

                  </ng-template>
                </div>
              </div>

            </div>-->
            <div >
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="mb-1 line-height-3 font-weight-200" >Points:</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div >
                    <div class="mb-0">{{currentUser?.points}}</div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="mb-1 line-height-3 font-weight-200">Trophies:</div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="mb-0" *ngIf="achievementQuery.getFinishedAchievements() && achievementQuery.getAll()">
                  {{achievementQuery.getFinishedAchievements().length}} / {{achievementQuery.getAll().length}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="mb-1 line-height-3 font-weight-200">Rank:</div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <ng-container *ngIf="currentUser">
                  <div class="mb-0" >
                    {{leaderboardUsers.indexOf(userQuery.getUserByUsername(currentUser?.username)) + 1}}
                  </div>
                </ng-container>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer"></div>

    </div>

  </div>
</div>
