<div class="card">

  <!-- ////// post to share/type -->
  <div class="card card-coin card-plain">
    <div class="card-body" *ngIf="!isCardLoading; else feedCardLoading">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4 class="text-uppercase">Feed Card</h4>
          <!--          <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                        <div class="form-group">
                          <label class="sr-only" for="message">post</label>
                          <textarea class="form-control" id="message" rows="3" placeholder="What are you thinking?"></textarea>
                        </div>

                      </div>
                      <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                        <div class="form-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Upload image</label>
                          </div>
                        </div>
                        <div class="py-4"></div>
                      </div>
                    </div>-->
          <!--<div class="btn-toolbar justify-content-between">
            <div class="btn-group">
              <button type="submit" class="btn btn-primary">share</button>
            </div>
            <div class="btn-group">
              <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                <i class="fa fa-globe"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#"><i class="fa fa-globe"></i> Public</a>
                <a class="dropdown-item" href="#"><i class="fa fa-users"></i> Managers</a>
                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Just me</a>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let pointTransaction of this.feedcardService.pointTransactionsLimited">
    <!-- /////// post -->
    <div class="card gedf-card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex justify-content-between align-items-center">
            <div class="mr-2">
              <div *ngIf="(entityUserQuery.selectLoading() | async) === false; else avatarLoading">
                <img class="rounded-circle" width="45"
                  [src]="(entityUserQuery.getUser(pointTransaction.targetUserName) | async)[0]?.avatarResolvedUrl"
                  alt="">
                <!--                {{(entityUserQuery.getUser(pointTransaction.targetUserName) | async)[0].avatarResolvedUrl}}-->
              </div>
              <!-- Placeholder for loading avatar -->
              <ng-template #avatarLoading>
                <div>
                  <img src="https://placeholder.pics/svg/100x100/DEDEDE/555555/%20" alt="Loading..."
                    class="rounded-circle" width="45">
                </div>
              </ng-template>
              <!--            <div>-->
              <!--              <img class="rounded-circle" width="45" [src]="this.avatarService.getAvatarFromCache(pointTransaction.targetUserName)" alt="">-->
              <!--              <img class="rounded-circle" width="45" [src]="(pointTransaction.targetUserAvatarUrl | async).avatar" alt="">-->
              <!--            </div>-->

              <!--            <img class="rounded-circle" width="45" [src]="(this.avatarService.resolveAvatar(pointTransaction.targetUser) | async).avatar" alt="">-->
            </div>
            <div class="ml-2">
              <div class="h5 m-0">@{{pointTransaction.targetUserFirstName}}&nbsp;{{pointTransaction.targetUserLastName}}
              </div>
              <div class="h7 text-muted"><i
                  class="fa fa-clock-o"></i>{{pointTransaction.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</div>
            </div>
          </div>
          <div>
            <div class="dropdown">
              <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-h"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                <div class="h6 dropdown-header">Configuration</div>
                <a class="dropdown-item">Save</a>
                <a class="dropdown-item" href="#">Hide</a>
                <a class="dropdown-item" href="#">Report</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="text-muted h7 mb-2"> </div>
        <a class="card-link" href="#">
          <h5 class="card-title">{{pointTransaction.sourceUserFirstName}} {{pointTransaction.sourceUserLastName}}
            awarded {{pointTransaction.amount}} points to
            {{pointTransaction.targetUserFirstName}}&nbsp;{{pointTransaction.targetUserLastName}} for:</h5>
        </a>


        <p class="card-text">
          {{pointTransaction.pointItemName}}
        </p>
      </div>
      <div class="card-footer">
        <div class="row">

          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <a *ngIf="pointTransaction.likedByCurrentUser === false; else likedByUser" href="javascript:void(0)"
              (click)="onLikeClick(pointTransaction)" class="card-link">
              <i class="far fa-heart"></i> Like
              <span *ngIf="pointTransaction.likeData.length > 0"
                class="badge badge-secondary">{{pointTransaction.likeData.length}}</span>
            </a>

            <ng-template #likedByUser>
              <a href="javascript:void(0)" (click)="onUnlikeClick(pointTransaction)" class="card-link">
                <!--          <i class="fas fa-heart"></i> Like <span class="badge badge-default">4</span>-->
                <i class="fas fa-heart"></i> Like
                <span *ngIf="pointTransaction.likeData.length > 0"
                  class="badge badge-secondary">{{pointTransaction.likeData.length}}</span>
              </a>
            </ng-template>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4 col-4">
            <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>
          </div>
          <div class="col-lg-6 col-md-3 col-4">
            <span class="row heights">
                <div class="col-lg-3 col-md-3 col-sm-4 col-4">
            <!---- FACEBOOK SHARE------->
            <script>
              window.fbAsyncInit = function () {
                FB.init({
                  appId: 'your-app-id',
                  autoLogAppEvents: true,
                  xfbml: true,
                  version: 'v4.0'
                });
              };

            </script>
            <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>

            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous"
              src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>

            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/"
              data-layout="button_count" data-size="small"><a target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
                class="fb-xfbml-parse-ignore">Share</a></div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 col-4">
           <!--TWITTER-->
           <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          </span>
          
          </div>
        
          <!--          <div class="col-4">

          </div>-->

        </div>




      </div>
    </div>

  </div>

  <!-- /////// Post -->
  <!--  <div class="card gedf-card">-->
  <!--    <div class="card-header">-->
  <!--      <div class="d-flex justify-content-between align-items-center">-->
  <!--        <div class="d-flex justify-content-between align-items-center">-->
  <!--          <div class="mr-2">-->
  <!--            <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">-->
  <!--          </div>-->
  <!--          <div class="ml-2">-->
  <!--            <div class="h5 m-0">@DRosca</div>-->
  <!--            <div class="h7 text-muted">Daniella Rosca</div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div>-->
  <!--          <div class="dropdown">-->
  <!--            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
  <!--              <i class="fa fa-ellipsis-h"></i>-->
  <!--            </button>-->
  <!--            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">-->
  <!--              <div class="h6 dropdown-header">Configuration</div>-->
  <!--              <a class="dropdown-item" href="#">Save</a>-->
  <!--              <a class="dropdown-item" href="#">Hide</a>-->
  <!--              <a class="dropdown-item" href="#">Report</a>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="card-body">-->
  <!--      <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> 10 min ago</div>-->
  <!--      <a class="card-link" href="#">-->
  <!--        <h5 class="card-title"> Weekly rundown </h5>-->
  <!--      </a>-->

  <!--      <p class="card-text">-->
  <!--        @KLewis congrats on the gold star for an outstanding performance over the last week.-->
  <!--      </p>-->
  <!--    </div>-->
  <!--    <div class="card-footer">-->
  <!--      <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>-->
  <!--      <a href="#" class="card-link"><i class="fa fa-comment"></i> Comment</a>-->
  <!--      <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>-->
  <!--    </div>-->
  <!--  </div>-->


</div>

<!-- Blank card to display while loading -->
<ng-template #feedCardLoading>
  <div class="card-body">
    <ngx-spinner name="feed-card-spinner" [fullScreen]="false" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
      type="pacman">
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
  </div>
</ng-template>
