
<div class="row">
  <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
    <div id="square7" class="square square-7"></div>
    <div id="square8" class="square square-8"></div>
    <div class="card card-register">
      <div class="card-header">
        <img class="card-img" src="../assets/img/square1.png" alt="Card image">
        <h4 class="card-title">New Pwd</h4>
      </div>
      <div class="card-body">


          <form #newPasswordForm="ngForm" (ngSubmit)="newPassword(newPasswordForm)" class="form">

            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="tim-icons icon-lock-circle"></i>
                </div>
              </div>
              <input type="password"
                     id="newPasswordPassword"
                     name="newPasswordPassword"
                     #newPasswordPassword="ngModel"
                     class="form-control"
                     [(ngModel)]="newPasswordForm.value.password"
                     required
                     minlength="8"
                     placeholder="New Password">
            </div>
            <label class="validation-message" *ngIf="newPasswordForm.submitted && !newPasswordPassword.valid && newPasswordPassword.errors?.minlength">The password must be at least 8 characters long.</label>

            <button type="submit" class="btn btn-info btn-round">Set New Password</button>
            <button type="button" class="btn btn-info btn-round" routerLink="/signin">Back to Sign In</button>


          </form>
          <div class="card-footer"></div>


      </div>
    </div>
  </div>
</div>
