<div class="card">
  <div class="card card-coin card-plain">
    <div class="card-body" *ngIf="!isCardLoading; else cardLoading">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h4 class="text-uppercase">Award Employee Points</h4>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="button" aria-pressed="false"
                id="button_happy" (click)="toggleCoreValueButtonFilter('happy')">HAPPY</button>
              <!--                      [ngStyle]="{border: this.isCoreValueButtonToggled('happy') === true ? 'green' : 'red'}"
                      (click)="toggleCoreValueButton('happy')">HAPPY</button>-->
            </div>
            <div class="col-sm">
              <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="button" aria-pressed="false"
                id="button_fun" (click)="toggleCoreValueButtonFilter('fun')">FUN</button>
            </div>
            <div class="col-sm">
              <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="button" aria-pressed="false"
                id="button_genuine" (click)="toggleCoreValueButtonFilter('genuine')">GENUINE</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="button" aria-pressed="false"
                id="button_caring" (click)="toggleCoreValueButtonFilter('caring')">CARING</button>
            </div>
            <div class="col-sm">
              <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="button" aria-pressed="false"
                id="button_respect" (click)="toggleCoreValueButtonFilter('respect')">RESPECT</button>
            </div>
            <div class="col-sm">
              <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="button" aria-pressed="false"
                id="button_honest" (click)="toggleCoreValueButtonFilter('honest')">HONEST</button>
            </div>
          </div>
          <div *ngIf="appliedFilters.length > 0" class="row filter-row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              Applied Filters
              <div *ngFor="let filter of appliedFilters" class="col-2 filter-col">
                <span class="filter-item" (click)="toggleCoreValueButtonFilter(filter)">
                  <i class="fas fa-times" ></i> {{filter}}
                </span>
              </div>
            </div>
          </div>
        </div>

        <!------- Search form -------->
        <div class="row heighted">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <form class="form py-4">

              <input class="form-control form-rounded w-100 border-neutral" type="text"
                     placeholder="Search Point Items" [(ngModel)]="term2" [ngModelOptions]="{standalone: true}" />
            </form>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 fluid">
            <form class="form py-4">

              <input class="form-control form-rounded w-100 border-neutral" type="text" placeholder="Search Employee"
                     [(ngModel)]="term" [ngModelOptions]="{standalone: true}" />
            </form>
          </div>

          <!--<div *ngIf="!toggled; else search1" class="col-md-3">
          </div>
          <div *ngIf="!toggled; else search2" class="col-md-6 fluid">
            <form class="form py-4">

              <input class="form-control form-rounded w-100 border-neutral" type="text" placeholder="Search Employee"
                [(ngModel)]="term" [ngModelOptions]="{standalone: true}" />
            </form>
          </div>

          <ng-template #search1>
            <div class="col-md-4">
              <form class="form py-4">

                <input class="form-control form-rounded w-100 border-neutral" type="text"
                  placeholder="Search Point Items" [(ngModel)]="term2" [ngModelOptions]="{standalone: true}" />
              </form>
            </div>
          </ng-template>
          <ng-template #search2>
            <div class="col-md-5 fluid">
              <form class="form py-4">

                <input class="form-control form-rounded w-100 border-neutral" type="text" placeholder="Search Employee"
                  [(ngModel)]="term" [ngModelOptions]="{standalone: true}" />
              </form>
            </div>
          </ng-template>-->

          <div class="col-lg-3 col-md-3 col-sm-3 search">
            <!-----Toggle button for multi-users-->
<!--            <mat-slide-toggle class="test" [color]="color" [checked]="toggled" [disabled]="disabled"
              (change)="onChange()">Select Multiple Employees
            </mat-slide-toggle>-->

          </div>

        </div>
<!--        <div *ngIf="!toggled; else selectMultiple">


          <div class="row">
            <div class="container" [class.show]="show">
              <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div *ngFor="let user of (employees$) | async | fresh:term; let i = index" class="">
                      <div *ngIf="i <= showLimit">
                        <div class="single-user mx-2 px-1">
                          <span [ngStyle]="{background: user.firstName}">
                            <img src="{{user.avatarResolvedUrl}}" class="img-row"
                              title="{{user['firstName'] + ' ' + user['lastName']}}" (click)="onAvatarClick(user)" />

                          </span>
                          <div class="row togstyle">
                            <div class="col-2">
                              <mat-checkbox *ngIf="toggled" [color]="'warn'"></mat-checkbox>
                            </div>
                            <div class="col-10 textr">
                              <h5>{{user.firstName + " " + user.lastName | fresh}}</h5>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>
              <div class="row">
                <div class="col-md-4"></div>

                <div class="col-md-4 text-center">
                  <div *ngIf="!showFlag; else buttonViewLess">
                    <button class="btn btn-success textc" (click)="showMore()">View More</button>
                  </div>
                  <ng-template #buttonViewLess>
                    <button class="btn btn-success textc" (click)="showLess()">View Less</button>
                  </ng-template>
                </div>

                <div class="col-md-4"></div>
              </div>
            </div>
          </div>

        </div>-->

        <div>
          <div class="row">
            <div class="container" [class.show]="show">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="container text-center">
                    <form #giftPointsForm="ngForm" class="form text-left">
                      <div class="selection" *ngIf="filteredPointItemList.length === 0; else filteredList">
                        <div class="form-check form-check-radio" *ngFor="let pointItem of (pointItemList$ | async | pointItem:term2)">
                          <label class="form-check-label" style="color: #f1f1f1">
                            <input class="form-check-input" type="radio" name="selectedPointItem"
                                   (click)="selectPointItem(pointItem)">
                            {{(pointItem.amount + ' pts - ' + pointItem.name) | pointItem}}
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                      <ng-template #filteredList class="selection">
                        <div class="form-check form-check-radio" *ngFor="let pointItem of (filteredPointItemList | pointItem:term2)">
                          <label class="form-check-label" style="color: #f1f1f1">
                            <input class="form-check-input" type="radio" name="selectedPointItem"
                                   (click)="selectPointItem(pointItem)">
                            {{(pointItem.amount + ' pts - ' + pointItem.name) | pointItem}}
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </ng-template>
                      <div class="gift-points-container text-center">
                        <button type="button" class="btn-lg btn-info btn-round"
                                (click)="pointItemOnSubmit(giftPointsForm)">Award Points</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                  <div class="row">
                    <div *ngFor="let user of (employees$) | async | fresh:term; let i = index" class="">
                      <div *ngIf="i <= showLimit">
                        <div class="single-user mx-2 px-1">
                          <span [ngStyle]="{background: user.firstName}">
                            <img src="{{user.avatarResolvedUrl}}" class="img-row"
                                 title="{{user['firstName'] + ' ' + user['lastName']}}" (click)="onAvatarClick(user)" />

                          </span>
                          <div class="row togstyle">
                            <div class="col-lg-2 col-md-2 col-sm-2">
                              <mat-checkbox *ngIf="toggled" [color]="'warn'" (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(user) : null"
                                            [checked]="selection.isSelected(user)"></mat-checkbox>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 textr">
                              <h5>{{user.firstName + " " + user.lastName | fresh}}</h5>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
                <!--              <div class="col-md-1"></div>-->
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"></div>

                <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                  <div *ngIf="!showFlag; else buttonViewLess">
                    <button class="btn btn-success textc" (click)="showMore()">View More</button>
                  </div>
                  <ng-template #buttonViewLess>
                    <button class="btn btn-success textc" (click)="showLess()">View Less</button>
                  </ng-template>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
              </div>
            </div>
          </div>
        </div>
        <!--
        <ng-template #selectMultiple>
          <div class="row">
            <div class="container" [class.show]="show">
              <div class="row">
                <div class="col-md-4">
                  <div class="container text-center">
                    <form #giftPointsForm="ngForm" class="form text-left">
                      <div class="selection">
                        <div class="form-check form-check-radio"
                          *ngFor="let pointItem of (pointItemList$ | async | pointItem:term2)">
                          <label class="form-check-label"
                            [ngStyle]="{color: filteredPointItemList.indexOf(pointItem) !== -1 ? '#FF83F6' : '#f1f1f1' }">
                            <input class="form-check-input" type="radio" name="selectedPointItem"
                              (click)="selectPointItem(pointItem)">
                            {{(pointItem.amount + ' pts - ' + pointItem.name) | pointItem}}
                            <span class="form-check-sign"></span>
                          </label>
                        </div>
                      </div>
                      <div class="gift-points-container text-center">
                        <button type="button" class="btn-lg btn-info btn-round"
                          (click)="pointItemOnSubmit(giftPointsForm)">Award Points</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div *ngFor="let user of (employees$) | async | fresh:term; let i = index" class="">
                      <div *ngIf="i <= showLimit">
                        <div class="single-user mx-2 px-1">
                          <span [ngStyle]="{background: user.firstName}">
                            <img src="{{user.avatarResolvedUrl}}" class="img-row"
                              title="{{user['firstName'] + ' ' + user['lastName']}}" (click)="onAvatarClick(user)" />

                          </span>
                          <div class="row togstyle">
                            <div class="col-2">
                              <mat-checkbox *ngIf="toggled" [color]="'warn'" (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(user) : null"
                                [checked]="selection.isSelected(user)"></mat-checkbox>
                            </div>
                            <div class="col-10 textr">
                              <h5>{{user.firstName + " " + user.lastName | fresh}}</h5>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
                &lt;!&ndash;              <div class="col-md-1"></div>&ndash;&gt;
              </div>
              <div class="row">
                <div class="col-md-4"></div>

                <div class="col-md-4 text-center">
                  <div *ngIf="!showFlag; else buttonViewLess">
                    <button class="btn btn-success textc" (click)="showMore()">View More</button>
                  </div>
                  <ng-template #buttonViewLess>
                    <button class="btn btn-success textc" (click)="showLess()">View Less</button>
                  </ng-template>
                </div>

                <div class="col-md-4"></div>
              </div>
            </div>
          </div>
        </ng-template>
-->
      </div>


      <ng-template #cardLoading>
        <div class="card-body">
          <ngx-spinner name="gift-points-spinner" [fullScreen]="false" bdColor="rgba(51,51,51,0.8)" size="medium"
            color="#fff" type="pacman">
            <p class="loading">Loading...</p>
          </ngx-spinner>
        </div>
      </ng-template>

      <!-- Placeholder for loading avatar -->
      <ng-template #avatarLoading>
        <div>
          <img src="https://placeholder.pics/svg/100x100/DEDEDE/555555/%20" alt="Loading..." class="img-row">
        </div>
      </ng-template>

    </div>
  </div>
</div>
