/*
table {
  width: 100%;
}

.point-item {
  width: 100%;
}

.gift-points-container {
  padding-bottom: 20px;

}

.departmentEmployees-card {
  background-color: darkcyan;
}

.gift-points-button {
  width: 50%;
  left: 25%;
}
*/
.card {
  background: #8656d22e;
}

.card-coin {
  margin-bottom: 0;
  border: 0;
  min-height: 600px;
}


.form-control {
  color: #ba54f5;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
/*.active, .btn:hover {
  background-color: #666;
  color: white;
}*/
/*
.btn:active {
  background-color: #666;
  color: white;
  background-image: linear-gradient(to bottom left, #666, #f1f1f1, #e14eca) !important;
}*/

.btn.active {
  background-color: #666;
  color: white;
  background-image: linear-gradient(to bottom left, #666, #f1f1f1, #e14eca) !important;
}
