.card {
  background: #8656d22e;
}

.card-coin {
  margin-bottom: 0;
  border: 0;
  min-height: 600px;
}

.scroll{
  overflow-y: auto;
}

.modalheight {
  position: absolute;
  margin-top: 56px;
}

.form-control {
  color: #ba54f5;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #c5c1d5;
}

::ng-deep .mat-radio-label {
  color: black;
}

.filter-item {
  cursor: pointer;
}

.filter-item:hover {
  .fas.fa-times {
    color: red;
  }
}

span.filter-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-col {
  display: inline-block;
}

/* Style the active class (and buttons on mouse-over) */
/*.active, .btn:hover {
  background-color: #666;
  color: white;
}*/
/*
.btn:active {
  background-color: #666;
  color: white;
  background-image: linear-gradient(to bottom left, #666, #f1f1f1, #e14eca) !important;
}*/

/*.btn.active {
  background-color: #666;
  color: white;
  background-image: linear-gradient(to bottom left, #666, #f1f1f1, #e14eca) !important;
}*/

.btn.toggled {
  background-color: #666;
  color: white;
  background-image: linear-gradient(to bottom left, #f301f7, #ffef13, #e14eca) !important;
}

input{
  text-align:center;
}

.form-rounded {
  border-radius: 1rem;
  }

  .containers {
    line-height: 16px;
    // height: 800px;
    overflow: hidden;
  }

  .show {
    overflow: visible;
    height: auto;
  }

  .button {
    display: flex;
    align-items: center;
  }

  //Toggle buttons
  .textr {
    text-align: right;
  }

  .textc {
    text-align: center;
  }

  .loading {
    font-size: 20px;
    color: white;
  }

  .selection{
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .search{
    padding-top: 35px;
    text-align: left;
  }

  .togstyle {
    max-width: 180px;
    overflow: hidden;
  }

  .info-plate-row {
    margin-top: -3em;
    width: 146px;
    margin-left: auto;
    margin-right: auto;
  }

  .info-plate-color {
    background-color: #344675e0;
  }

  .dep-row {
    max-width: 180px;
    overflow: hidden;
    margin-top: -10px
  }

  .heighted {
    height: 100px;
  }


.user-selection {
  cursor: pointer;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  //padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid rgba(221, 221, 221, 0);
}


.selected {
  box-shadow: 0 0 15px rgba(81, 203, 238, 1);
  //padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid rgb(242, 98, 255);
}

.form-check-label-color {
  color: #f1f1f1;
}
