<div class="card">
  <div class="card card-coin card-plain">
    <div class="card-body" *ngIf="!isCardLoading; else cardLoading">
      <div class="col-md-12">
        <h4 class="text-uppercase">Award Employee Points</h4>
        <div class="container">
          <div class="row">
            <div class="col-sm" >
              <button *ngFor="let button of buttons; let i = index" [ngClass]="{'active':isClicked[i]}" (click)="isClicked[i] = (isClicked[i]? false :true )">{{ button }}</button>

              <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="button" aria-pressed="false"  id="button1" (click)="setActive()">HAPPY</button>
              <ul class="tg-list">
                <li class="tg-list-item">
                  <h4>Light</h4>
                  <input class="tgl tgl-light" id="cb1" type="checkbox"/>
                  <label class="tgl-btn" for="cb1"></label>
                </li>
                <li class="tg-list-item">
                  <h4>iOS</h4>
                  <input class="tgl tgl-ios" id="cb2" type="checkbox"/>
                  <label class="tgl-btn" for="cb2"></label>
                </li>
                <li class="tg-list-item">
                  <h4>Skewed</h4>
                  <input class="tgl tgl-skewed" id="cb3" type="checkbox"/>
                  <label class="tgl-btn" data-tg-off="OFF" data-tg-on="ON" for="cb3"></label>
                </li>
                <li class="tg-list-item">
                  <h4>Flat</h4>
                  <input class="tgl tgl-flat" id="cb4" type="checkbox"/>
                  <label class="tgl-btn" for="cb4"></label>
                </li>
                <li class="tg-list-item">
                  <h4>Flip</h4>
                  <input class="tgl tgl-flip" id="cb5" type="checkbox"/>
                  <label class="tgl-btn" data-tg-off="Nope" data-tg-on="Yeah!" for="cb5"></label>
                </li>
              </ul>
            </div>
            <div class="col-sm">
              <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="button" aria-pressed="false">FUN</button>
            </div>
            <div class="col-sm">
              <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="button" aria-pressed="false">GENUINE</button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="button" aria-pressed="false">CARING</button>
            </div>
            <div class="col-sm">
              <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="button" aria-pressed="false">RESPECT</button>
            </div>
            <div class="col-sm">
              <button type="button" class="btn btn-primary btn-sm btn-block" data-toggle="button" aria-pressed="false">HONEST</button>
            </div>
          </div>
        </div>
        <form #giftPointsForm="ngForm" (ngSubmit)="giftPointsForm.valid && pointItemOnSubmit(giftPointsForm)" class="form">
          <div class="form-row">
            <div class="form-group col-8">
              <label for="selectedPointItem">Point Item</label>
              <select #selectedPointItem="ngModel" class="form-control" id="selectedPointItem" name="selectedPointItem" [(ngModel)]="selectedPointItem.item">
                <option *ngFor="let pointItem of pointItemList" [ngValue]="pointItem">
                  {{pointItem.amount}} pts - {{pointItem.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="gift-points-container">
            <button type="submit" class="btn btn-info btn-round btn-lg" > Gift Points </button>
          </div>
        </form>

        <table class="table">
          <thead>
          <tr>
            <th *ngFor="let col of displayedColumns">
              {{col}}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of this.giftPointsService.departmentEmployees">
            <td *ngFor="let col of displayedColumns">
              <div *ngIf="col === 'select'">
                <!--<mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(user) : null"
                              [checked]="selection.isSelected(user)"
                              [aria-label]="checkboxLabel(user)">
                </mat-checkbox> -->


                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"
                           (click)="$event.stopPropagation()"
                           (change)="$event ? selection.toggle(user) : null"
                           [checked]="selection.isSelected(user)">
                      <span class="form-check-sign">
                          <span class="check"></span>
                      </span>
                  </label>
                </div>
              </div>
              <div *ngIf="col === 'avatar'"><img src="{{user[col]}}" class="img-row" ></div>
              <!-- <ng-template #templateImgRow>
                <img src="{{char[col]}}" class="img-row" >
              </ng-template> -->
              <!-- <div *ngIf="col === 'rank'" class="text-center">{{user[col]}}</div> -->
              <div *ngIf="col === 'name'">{{user[col]}}</div>
              <div *ngIf="col === 'points'">{{user[col]}}</div>
              <div *ngIf="col === 'username'">{{user[col]}}</div>
              <div *ngIf="col === 'email'">{{user[col]}}</div>



              <!-- <ng-template #templateRow>
                {{char[col]}}
              </ng-template> -->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ng-template #cardLoading>
      <div class="card-body">
        <ngx-spinner
          name="gift-points-spinner"
          [fullScreen]="false"
          bdColor="rgba(51,51,51,0.8)"
          size="medium"
          color="#fff"
          type="pacman"
        >
          <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
      </div>
    </ng-template>

  </div>
</div>


